<div class="share">
    <a class="button share-button share-facebook" href="https://facebook.com/sharer.php?u={{url absolute=true}}">
      {{> icons/facebook}}
      <span class="share-text">Facebook</span>
    </a>

    <a class="button share-button share-twitter" href="https://twitter.com/share?url={{url absolute=true}}&text={{title}}&via=try_osmc">
      {{> icons/twitter}}
      <span class="share-text">Twitter</span>
    </a>

    <a class="button share-button share-google" href="https://plus.google.com/share?url={{url absolute=true}}">
      {{> icons/google}}
      <span class="share-text">Google</span>
    </a>

    <span class="share-title">Share</span>
</div>