.bloglist {
  @include link2;
  &-wrap {
    margin-top: 2em;
  }
  &-title {
    font-weight: 300;
    margin: 0;
  }
  &-meta {
    color: $acc3-3;
    border-bottom: 1px solid $acc3-1;
  }
  &-post {
    margin: 0 0 2em;
  }
  &-content {
    font-size: $small2;
    p {}
  }
}

.pagination {
  margin-top: 4em 0;
  font-size: $small2;
  text-align: center;
  @include link2;
}

.more {
  font-size: $big4;
  @include link2;
}