.donate.show {
  max-height: 250px;
  @include transition(max-height 0.3s ease-in);
	
	@include res1 {
		max-height: 330px;
	}
}

.donate {
  padding: 0;
  max-height: 0px;
  overflow: hidden;
  @include transition(max-height 0.3s ease-out);
  background-color: $acc3-4;
  
  &-wrap {
    padding: 2em 0 3em;
		
		@include res1 {
			padding: 1em 0;
		}
  }
  &-text {
    border-left: 1px solid $acc3-1;
		
		@include res1 {
			font-size: $small2;
			line-height: 1.5em;
			border-left: none;
		}
  }
  
  &-header {
    position: relative;
    max-width: 30em;
		
		@include res1 {
			margin: 0 auto;
		}
  }
  
  &-title {
    margin: 0.7em 0 0.5em;
  }
  
  &-exit {
    $s: 1.5em;
    position: absolute;
    top: 0.25em;
    right: 0;
    width: $s;
    height: $s;
    cursor: pointer;
    svg {
      width: $s;
      height: $s;
      
      path {
        @include transition-duration($ani-duration1);
      }
    }
    &:hover, &:focus, &:active {
      svg {
        path {
          fill: $link;
        }
      }
    }
  }
  
  &-form {
    text-align: right;
    margin: 1.5em 0;
    font-size: $small2;
    position: relative;
		
		@include res1 {
			text-align: center;
		}
    .amount {
			display: inline-block;
			line-height: 1.7em;
      width: 2.5em;
      margin: 0 0.5em;
			padding: 0;
      text-align: center;
			@include radius1;
			border: 1px solid $acc3-1;
			position: relative;
			vertical-align: middle;
			font-size: $small2;
    }
    .radio {
      display: none;
    }
    label {
			display: inline-block;
			line-height: 1.7em;
			vertical-align: middle;
      cursor: pointer;
      background-color: $trans;
			border: 1px solid $acc3-1;
      padding: 0 0.4em;
      font-size: $small1;
      @include radius1;
			font-size: $small2;
    }
    .radio:checked + label {
      background-color: $acc3-1;
    }
  }
  &-options {
    margin: 1em 0 0;
  }
  &-button {
    background-color: $trans;
		border: 1px solid $acc3-1;
		@include radius1;
    width: 35%;
    max-width: 6.5em;
    height: 2.8em;
    padding: 0.4em 0.5em;
    margin: 0 0 0 0.4em;
    vertical-align: middle;
    position: relative;
    &:hover,
    &:focus,
    &:active {
      background-color: $acc3-1;
    }
  }
  &-button.loading {
    background-color: $acc3-1;
  }
  &-paypal {
    svg {
      width: 100%;
      height: 100%;
      padding: 3px 0 0;
    }
  }
  &-stripe {
    &-svg {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 47%;
      margin: auto;
      svg {
        width: 100%;
        height: 100%;
				path {
					&:first-child {
						fill: $acc3-4;
					}
					&:last-child {
						fill: $black;
					}
				}
      }
      &.hidden {
        display: none;
      }
    }
  }
  &-card1 {
    bottom: 0.4em;
    left: auto;
    width: 89%;
  }
  &-card2 {
    top: 0.1em;
    right: auto;
    width: 89%;
  }
  #amount-error {
    position: absolute;
    font-size: $small2;
    top: 5px;
		right: 12.5em;
		white-space: nowrap;
		background-color: $trans;
		border: none;
		color: $acc5-1;
		
		@include res1 {
			max-width: 7em;
			white-space: normal;
			line-height: 1.5em;
			top: 0;
			right: auto;
			left: 0;
		}
  }
  &-alt {
    white-space: nowrap;
		float: right;
		@include link;
		
		@include res1 {
			float: none;
		}
  }
  img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
  }
}