.download {
  &-devices {
    text-align: center;
    margin: 2em 0 4em;
    font-size: $small2;
    line-height: 1.2em;
    &-wrap {
      display: inline;
      margin: 3em 0 0;
    }
    svg {
      width: 100%;
      height: 8em;
      vertical-align: middle;
      @include res1 {
        height: 6.5em;
      }
      @include res2 {
        height: 5em;
      }
    }
    .svg-pi {
      path,
      circle {
        fill: $acc3-4;
        stroke: $black;
      }
      path.svg-pi-back {
        fill: $brand-green;
      }
    }
    .svg-vero {
      path,
      circle {
        stroke: $brand-dblue;
        fill: $white;
      }
      circle {
        stroke: $white;
      }
      path {
        &.svg-vero-border,
        &.svg-vero-back,
        &.svg-vero-circle-back {
          fill: $brand-dblue;
          stroke: $brand-dblue;
        }
        &.svg-vero-logo {
          stroke: $white;
        }
      }
    }
    .svg-appletv {
      path,
      circle {
        fill: $acc3-1;
        stroke: $acc3-1;
      }
      path {
        &.svg-appletv-back {
          fill: $acc3-4;
        }
        &.svg-appletv-border {
          fill: $acc3-1;
          stroke: $acc3-1;
        }
        &.svg-appletv-logo {
          stroke: $acc3-2;
          fill: $white;
        }
      }
    }
    &-title {
      margin: 1em 0 0;
      width: 100%;
      display: inline-block;
      line-height: 1em;
    }
    &-text {
      display: block;
      font-size: $small2;
      color: $acc3-2;
      margin-top: 0.2em;
    }
  }
  &-systems {
    text-align: center;
    margin: 2.5em 0;
  }
  &-system {
    font-size: $small2;
    line-height: 1.2em;
    padding-left: 0;
    padding-right: 0;

    .main & {
      @include link3;
    }

    svg {
      $s: 4.5em;
      width: $s;
      height: $s;
      path {
        fill: $black;
      }
      @include res2 {
        $s-1: 3.5em;
        width: $s-1;
        height: $s-1;
      }
    }
    &-wrap {
      margin-top: 0.8em;
    }
    &-title {
      vertical-align: bottom;
      margin-right: 0.2em;
      line-height: 1em;
    }
    &-dl {
      vertical-align: bottom;
      border-bottom: 0;
      svg {
        $s2: 1.2em;
        width: $s2;
        height: $s2;
        vertical-align: top;
      }
      &:hover,
      &:focus,
      &:active {
        .download-system-title {
          color: $link;
        }
        svg {
          path {
            @include ani1;
            fill: $link;
          }
        }
      }
    }
    &-meta {
      font-size: $small2;
      color: $acc3-2;
      display: block;
      margin-top: 0.2em;
    }
  }
  &-tables {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    @include res2 {
      font-size: $small2;
    }
    &.show {
      max-height: 180em;
      transition: max-height 0.4s ease-in;
    }
  }
  &-table {
    table {
      max-width: 30em;
    }
    &-title {
      margin-bottom: 0.25em;
    }
  }
  &-disk {
    &-button {
      cursor: pointer;
      position: relative;
    }
    &-text {
      padding-right: 1.2em;
    }
    svg {
      $s3: 0.9em;
      width: $s3;
      height: $s3;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0.5em;
      margin: auto;
      overflow: visible;
      circle,
      line {
        stroke: $white;
        stroke-width: 6;
      }
    }
  }
}
