.header {
	position: absolute;
	width: 100%;
	margin: 4em 0 0;
	
	.page-home & {
		z-index: 1;
	}
}
$text: $acc3-3;
$color: $link;
$hover: $link2;

.nav {
	font-weight: 400;
	float: right;
	
	&-ul {
		padding: 0;
		list-style: none;
		@include link($text, $hover);
		@include columns(1em 2);
		
		a {
			@include ani1;
			padding-bottom: 0.1em;
			
			&:hover, &:focus, &:active {
				color: $color;
				border-bottom: none;
			}
		}
		
		li {
			margin: 0 0.5em;
		}
	}
	&-current {
		a, a:visited {
			padding-bottom: 1px;
			border-bottom: 2px solid $acc3-4;
			color: $color;
			&:hover, &:focus, &:active {
				color: $hover;
				border-bottom: 2px solid $hover;
			}
		}
	}
}