.main.home {
  padding: 0;
  overflow: hidden;
  .container {
    max-width: 70em;
  }
}

.firstn-back {
  position: absolute;
  width: 100%;
  height: 150%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  &-vignette {
    position: relative;
    height: 100%;
    @include box-shadow(inset 0px 0px 300px 0px rgba(0, 0, 0, 0.75), inset 0px 0px 0px 0px rgba(0, 0, 0, 0));
    //@include background-image(linear-gradient(to bottom right, rgba(81, 188, 155, 0.32), transparent 20%));
    overflow: hidden;
  }
  &-gradient {
    width: 100%;
    height: 101%;
    display: block;
    position: relative;
    vertical-align: middle;
    @include background-image(linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, $white));
  }
  &-wrap {
    position: relative;
    width: 120%;
    height: 100%;
    min-width: 45em;
    z-index: -1;
    text-align: left;
    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      shape-rendering: crispEdges;
      g {
        polygon {
          stroke-width: 0px;
          stroke: $grey3;
        }
      }
    }
  }
}

.breaker {
  float: left;
  width: 100%;
  margin: 10% 0 9%;
  .line {
    width: 95%;
    margin: 0 auto;
    border-bottom: 3px dotted rgba(81, 188, 155, 0.35);
  }
}

.firstn {
  position: relative;
  height: 1000px;
  &-wrap {
    position: absolute;
    display: table;
    vertical-align: middle;
    height: 100%;
    width: 100%;
  }
  &-wrap2 {
    display: table-cell;
    vertical-align: middle;
    float: none;
    padding-bottom: 2.5em;
    @include user-select(none);
    @include transition-duration(0.6s);
    @include transition-timing-function(ease-in);
    opacity: 0;
  }
  &-logo {
    margin: 0 auto 5%;
    width: 50%;
    max-width: 21em;
    min-width: 13em;
  }
  h1 {
    text-align: center;
    margin: 0 1em 1%;
    font-weight: 300;
    font-size: 135%;
    color: $white;
  }
  p {
    text-align: center;
    color: $white;
    font-size: 95%;
    a {
      color: $white;
      border-bottom: 1px solid $white;
      &:hover {
        color: $link;
        border-bottom: 1px solid $link;
      }
    }
    span {
      font-size: 140%;
      vertical-align: middle;
      svg {
        margin-bottom: -1px;
        margin-left: 0.2em;
        height: 0.8em;
        width: 0.8em;
        @include transform(rotate(90deg));
        polygon {
          fill: $white;
        }
      }
    }
  }
  &-wrap2.show {
    opacity: 1;
  }
}

.secondn {
  @include background-image(linear-gradient(to top, $back, rgba(81, 188, 155, 0.20), $trans 80%));
  width: 100%;
  padding: 0;
  float: left;
  padding-bottom: 2em;
  margin-top: 2.5em;
  &-wrap {
    text-align: center;
  }
  h2 {
    font-size: 136%;
    font-weight: 400;
    margin: 0 0 0.5em;
  }
  &-player {
    &-wrap {
      margin: 0 auto;
      width: 90%;
      max-width: 47em;
      @include user-select(none);
    }
    width: 100%;
    margin: 0 auto;
    position: relative;
    float: left;
    @include box-shadow(0 0 10px rgba(58, 128, 106, 0.65));
    background-color: $dark;
  }
  &-monitor {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 6%;
    shape-rendering: crispEdges;
    polygon {
      display: none;
    }
    line,
    polygon {
      stroke: $dark;
      stroke-width: 5;
    }
  }
  $mon-border: 5px;
  &-video-wrap {
    position: relative;
    border: $mon-border solid $dark;
    background-color: $dark;
    text-align: center;
    overflow: hidden;
  }
  video {
    position: relative;
    border: 0;
    width: 100%;
    float: left;
  }
  #player {
    position: absolute;
    width: 101%;
    height: 101%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $dark;
    .player-poster {
      border: 0;
    }
  }
  &-size-fix {
    width: 100%;
    opacity: 0;
    vertical-align: middle;
  }
  &-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    //border: $mon-border solid $black;
    background-color: rgba(0, 255, 255, 0.35);
    cursor: pointer;
    @include transition-duration(0.4s);
    @include background-image(linear-gradient(to bottom right, rgba(81, 188, 155, 0.75), rgba(11, 125, 166, 0.73) 100%));
  }
  &-overlay.hidden {
    opacity: 0;
  }
  &-vignette {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    @include box-shadow(inset 0 0 60px rgba(0, 0, 0, 0.40));
    //border: $mon-border solid $trans;
    cursor: pointer;
  }
  &-playicon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border: 14px solid $trans;
    @include border-radius(50%);
    background-color: rgba(255, 255, 255, 0.75);
    @include transition-duration(0.2s);
    svg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 1px;
      margin: auto;
      path {
        fill: rgba(52, 112, 118, 0.88);
      }
    }
  }
  &-playicon.hidden {
    opacity: 0;
  }
}

.breaker.b1 {
  margin: 0;
  padding-top: 10%;
  padding-bottom: 9%;
}

.thirdn {
  float: left;
  width: 100%;
  position: relative;
  &-back {
    position: absolute;
    top: -4em;
    width: 140%;
    height: 140%;
    left: -20%;
    right: 0;
    bottom: 0;
    opacity: 0.15;
    z-index: 0;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  h2 {
    text-align: center;
    font-weight: 300;
    font-size: 210%;
    margin-top: 0;
    margin-bottom: 8%;
  }
  &-wrap {
    width: 100%;
    display: table;
    padding-left: 1em;
    .column {
      display: table-cell;
      vertical-align: middle;
      float: none;
    }
  }
  &-pics {
    width: 62%;
    position: relative;
    &-wrap {
      z-index: -1;
      div {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        .ie9 & {
          position: relative;
        }
        @include ie10 {
          position: relative;
        }
      }
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        @include transition-duration(0.4s);
        opacity: 0;
        @include box-shadow(0 0 10px rgba(58, 128, 106, 0.45));
      }
      img.show {
        opacity: 1;
      }
    }
  }
  &-text {
    width: 38%;
    padding-left: 4em;
    ul {
      padding: 0;
      list-style: none;
      font-size: 90%;
      @include user-select(none);
      li {
        margin: 1.8em 0;
        cursor: pointer;
        @include transition-duration(0.3s);
        position: relative;
        $icon-size: 6px;
        .icon {
          @include transition-duration(0.3s);
          opacity: 0;
          position: absolute;
          left: -2em;
          top: 0.3em;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 $icon-size ( $icon-size * 2) $icon-size;
          pointer-events: none;
        }
        h3,
        p,
        p a {
          color: $acc3-2;
          @include transition-duration(0.3s);
        }
        h3 {
          margin-bottom: 0.3em;
          font-size: 150%;
          line-height: 1em;
        }
        p {
          margin: 0;
          line-height: 1.4em;
          a {
            color: $acc3-2;
            pointer-events: none;
            cursor: default;
          }
        }
        &:hover {
          h3,
          p {
            color: $dark;
          }
          p {
            a {
              color: $dark;
            }
          }
        }
      }
      li.show {
        .icon {
          opacity: 1;
          left: -1.5em;
        }
        p,
        h3 {
          color: $dark;
        }
        p {
          a {
            color: $link;
            pointer-events: auto;
            cursor: pointer;
            &:hover {
              color: $grey3;
            }
          }
        }
      }
      .link1 {
        .icon {
          @include transform(rotate(25deg));
          border-color: transparent transparent #9ed48b transparent;
        }
      }
      .link2 {
        .icon {
          @include transform(rotate(-20deg));
          border-color: transparent transparent #edc0c3 transparent;
        }
      }
      .link3 {
        .icon {
          top: 0.15em;
          @include transform(rotate(50deg));
          border-color: transparent transparent #4c9aed transparent;
        }
      }
      .link4 {
        .icon {
          top: 0.5em;
          @include transform(rotate(140deg));
          border-color: transparent transparent #56c49e transparent;
        }
      }
    }
  }
}

.breaker.b2 {
  margin-bottom: 0;
}

.fourthn {
  padding-top: 4%;
  padding-bottom: 4%;
  float: left;
  width: 100%;
  //@include background-image(linear-gradient(to bottom right, rgba(14, 148, 184, 0.30), rgba(14, 164, 184, 0.20) 70%));
  h2 {
    display: none;
    text-align: center;
    font-weight: 300;
    font-size: 210%;
    margin-top: 0;
    margin-bottom: 6%;
  }
  &-wrap {
    display: table;
    vertical-align: middle;
    h3 {
      font-weight: 300;
      font-size: 125%;
    }
    .link {
      font-size: 100%;
      text-transform: uppercase;
      font-weight: 400;
      color: $dark;
      a {
        line-height: 1em;
        border-bottom: 1px solid $link;
        display: inline-block;
        &:hover {
          color: $acc3-2;
          border-bottom: 1px solid $acc3-2;
        }
      }
    }
    img {
      width: 95%;
      //filter: grayscale(100%);
    }
    .column {
      display: table-cell;
      vertical-align: middle;
      float: none;
    }
  }
}

.breaker.b3 {
  margin-top: 0;
}

.fifthn {
  padding-bottom: 13%;
  float: left;
  width: 100%;
  .container {
    .row {
      .full {
        text-align: center;
        h2 {
          margin-top: 0;
          margin-bottom: 1.5em;
          font-size: 210%;
          font-weight: 300;
        }
        .buttons {
          a:nth-child(1n+1) {
            width: 33%;
            max-width: 10em;
            border-radius: 0;
            display: inline-block;
            line-height: 1.3em;
            font-size: 105%;
            font-weight: 300;
            margin: 0;
            padding: 0.5em 0.7em 0.4em;
          }
          a:nth-child(1) {
            @include button($blue-s1, lighten($blue-s1, 20%), null, true);
          }
          a:nth-child(2) {
            @include button($blue-s2, lighten($blue-s2, 20%), null, true);
          }
          a:nth-child(3) {
            @include button($blue-s3, lighten($blue-s3, 20%), null, true);
          }
        }
      }
    }
  }
}

// Front page
$home-header: rgba(14, 61, 82, 0.52);
.home.page {
  .header {
    backface-visibility: hidden;
    background-color: $home-header;
    box-shadow: none;
    z-index: 200;
    nav li {}
  }
}

@media screen and (max-width: $res1) {
  .home.page .header .container .nav-header .top-nav {
    background-color: $home-header;
    top: 3.15em;
    border-top: 1px solid rgba(163, 163, 163, 0.66);
  }
}

@media screen and (max-width: $res1) {
  .row.main.home {
    font-size: 90%;
    .secondn {}
    .thirdn {
      h2 {}
      .table {
        padding: 0;
        display: block;
        float: left;
        .column {
          width: 100%;
          float: left;
          display: block;
          padding: 0 1em;
        }
      }
      .two-thirds {
        .img {
          .img-wrap1 {
            img {
              position: relative;
              float: left;
            }
          }
          div {
            position: relative;
            float: left;
            width: 100%;
          }
          img {
            position: absolute;
            top: auto;
          }
        }
      }
      .third {
        ul {
          text-align: center;
          li {
            margin: 0 1em;
            width: 21%;
            text-align: left;
            display: inline-block;
            vertical-align: top;
          }
          li:first-child,
          li:last-child {
            margin: 0;
          }
        }
      }
    }
    .fourthn {
      .table {
        display: block;
        float: left;
        .column {
          display: block;
        }
        .third {
          text-align: center;
        }
        img {
          width: 60%;
          max-width: 18em;
        }
      }
    }
    .fifthn {}
  }
}

@media screen and (max-width: $res2) {
  .row.main.home {
    .secondn {
      .full {
        h2 {
          font-size: 115%;
        }
      }
    }
    .thirdn {
      h2 {
        font-size: 175%;
        margin-top: 0.2em;
        margin-bottom: 11%;
      }
      .third {
        ul {
          li {
            margin: 0 0.2em;
            width: 47%;
          }
          li:first-child,
          li:last-child {
            margin: 0 0.2em;
          }
        }
      }
    }
    .fifthn {
      .container {
        .row {
          .full {
            font-size: 95%;
            h2 {
              font-size: 190%;
              margin-bottom: 1em;
            }
            .buttons {
              font-size: 100%;
              button {
                width: auto;
                padding-left: 1em;
                padding-right: 1em;
              }
            }
          }
        }
      }
    }
  }
}