.share {
  @include link($white, $white);
  width: 100%;
  overflow: auto;
  font-size: $small1;
  &-wrap {
    width: 100%;
  }
  &-button {
    padding: 0.05em 0.7em;
    margin: 0 0.5em 0 0;
    float: left;
  }
  &-title {
    display: inline-block;
    margin: 0;
    font-size: $small1;
    padding-right: 0.5em;
    margin-top: 0.1em;
    float: right;
    color: $acc3-2;
  }
  svg {
    width: 1.1em;
    height: 1.1em;
    padding-bottom: 1px;
    vertical-align: sub;
    path {
      fill: $white;
    }
  }
  &-text {
    padding: 0 0.2em;
    display: inline-block;
  }
  &-facebook {
    $color: $facebook;
    background-color: $color;
    @include hover(saturate(lighten($color, 15%), 8%), back);
    svg {
      width: 1.05em;
      height: 1.05em;
    }
  }
  &-twitter {
    $color: $twitter;
    background-color: $color;
    @include hover(saturate(lighten($color, 7%), 20%), back);
  }
  &-google {
    $color: $google;
    background-color: $color;
    @include hover(saturate(lighten($color, 9%), 10%), back);
  }
}