.share {
  width: 100%;
  overflow: auto;
  font-size: $small1;
  &-wrap {
    width: 100%;
  }
  &-button {
    padding: 0.05em 0.7em;
    margin: 0 0.5em 0 0;
    float: left;
  }
  &-title {
    display: inline-block;
    margin: 0;
    font-size: $small1;
    padding-right: 0.5em;
    margin-top: 0.1em;
    float: right;
    color: $acc3-2;
  }
  svg {
    width: 1.1em;
    height: 1.1em;
    padding-bottom: 1px;
    vertical-align: sub;
    path {
      fill: $white;
    }
  }
  &-text {
    padding: 0 0.2em;
    display: inline-block;
		color: $white;
  }
	
	a, a:visited {
		border-bottom: 0;
		
		&:hover, &:active, &:focus {
			border-bottom: 0;
		}
	}
	
  &-facebook {
    @include button-share($facebook, saturate(lighten($facebook, 15%), 8%));
    svg {
      width: 1.05em;
      height: 1.05em;
    }
  }
	
  &-twitter {
    @include button-share($twitter, saturate(lighten($twitter, 7%), 20%));
  }
	
  &-google {
    @include button-share($google, saturate(lighten($google, 9%), 10%));
  }
	
}