.sidebar {
  //background-color: $acc3-4;
  float: left;
  margin-top: 0.8em;
  font-size: $small2;
  font-weight: 300;
  line-height: 1.35em;
  color: $black;
  section {
    border: 1px solid $acc2-1;
    @include radius1;
    padding: 0.5em 0.5em 0.8em 1em;
    margin: 1em 0;
  }
  &-header {
    @include link($black, $link);
  }
      
  &-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  &-text {
    margin: 0.5em 0;
    color: $black;
  }
  .button {
    font-weight: 400;
  }
  &-social {
    font-weight: 400;
    svg {
      vertical-align: middle;
      width: 1em;
      height: 1em;
      margin-right: 0.6em;
      margin-bottom: 0.15em;
    }
    $hover: $acc2-1;
    .link {
      list-style: none;
      padding: 0;
      &-facebook {
        @include link($facebook, $hover);
        svg {
          height: 0.9em;
          width: 0.9em;
          margin-right: 0.7em;
        }
        path {
          fill: $facebook;
        }
      }
      &-twitter {
        @include link($twitter, $hover);
        path {
          fill: $twitter;
        }
      }
      &-github {
        @include link($github, $hover);
        path {
          fill: $github;
        }
      }
      &-rss {
        @include link($rss, $hover);
        path {
          fill: $rss;
        }
      }
    }
    a {
      &:hover,
      &:active,
      &:focus {
        path {
          fill: $hover;
        }
      }
    }
  }
  &-news {
    &-form {
      padding: 0 0.2em 0.2em;
      @include radius1;
      overflow: hidden;
      border: 1px solid $acc3-1;
      margin: 1em 0.5em 0.3em 0;
			max-width: 13em;
    }
    &-icons {
      display: inline;
      overflow: hidden;
      position: relative;
    }
    svg {
      width: 1.4em;
      height: 1.4em;
      vertical-align: middle;
      display: block;
      path {
        fill: $black;
      }
    }
    img {
      max-width: 1.45em;
      width: 1.45em;
      margin-top: -1px;
      margin-left: -1px;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0) scale(1.0, 1.0);
    }
    &-icon1 {
      display: block;
      position: absolute;
      top: 4px;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 0;
      margin: auto;
      height: 1.3em;
      width: 1.3em;
      @include ani-news;
    }
    &-mail,
    &-spinner {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      @include ani-news;
    }
    &-check {
      background-color: $trans;
      padding: 0;
      margin-top: 1px;
      font-size: 100%;
      position: absolute;
      top: 4px;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      @include ani-news;
      visibility: hidden;
      height: 1.3em;
      width: 1.3em;
      @include border-radius(2px);
      svg {
        path {
          @include ani1;
          fill: $acc2-1;
          stroke: $acc2-1;
          stroke-width: 1px;
        }
      }
      &:hover,
      &:active,
      &:focus {
        background-color: $trans;
        svg {
          path {
            fill: $black;
            stroke: $black;
          }
        }
      }
    }
    &-spinner {
      visibility: hidden;
      @extend .slideOutDown;
    }
    input {
			margin: 0;
      margin-left: 1.8em;
      margin-top: 0.05em;
      width: calc(100% - 1.7em);
			max-width: 30em;
			border: none;
			padding: 0;
    }
    &-form.focus {
      .sidebar-news {
        &-mail {
          @extend .slideOutDown;
        }
        &-check {
          @extend .slideInDown;
          visibility: visible;
        }
        &-spinner {
          visibility: visible;
        }
      }
    }
    &-form.unfocus {
      .sidebar-news {
        &-mail {
          @extend .slideInDown;
        }
        &-check {
          @extend .slideOutDown;
          visibility: visible;
        }
      }
    }
    &-form.focus.posting {
      .sidebar-news {
        &-check {
          @extend .slideOutDown;
        }
        &-spinner {
          visibility: visible;
          @extend .slideInDown;
        }
        &-mail {
          visibility: hidden;
        }
      }
    }
    &-form.error {
      .sidebar-news {
        &-check {
          svg {
            path {
              fill: $red1;
              stroke: $red1;
            }
          }
        }
      }
    }
  }
}