.store {
  &-item {
    float: left;
    width: 25%;
    padding: 1em;
    border-color: 1px
  }
  &-img {
    background-size: cover;
    background-position: center;
    
    &-placeholder {
      opacity: 0;
      visibility: hidden;
    }
  }
}