.wiki {
  &-index {
    position: relative;
    padding: 0;
    margin: 1em 0 2em 0;
    clear: both;
    font-size: $small2;
    @include radius1;
    border: 2px solid $acc3-4;
  }
  &-header {
    padding: 0.5em 1em 1em;
    background-color: $acc1-2;
  }
  &-title {
    margin: 0;
    display: inline-block;
  }
  &-desc {
    font-size: $small2;
    line-height: 1.4em;
    p {
      margin: 0;
    }
  }
  &-cat {
    &-header {
      background-color: $acc3-4;
      margin: 0;
      padding: 0.5em 1em;
    }
    &-title {
      font-size: 1em;
      margin: 0;
      padding: 0;
      font-weight: 400;
    }
    &-desc {
      display: none;
      font-size: $small2;
      line-height: 1.4em;
      p {
        margin: 0;
      }
    }
    &-list {
      list-style: none;
      padding: 0 1em;
      
      li {
        border-bottom: 1px solid $acc3-4;
        margin: 0;
        padding: 0.5em 0;
        @include ani2;
        overflow: hidden;
        &.hide {
          border-bottom: 0;
          //max-height: 0;
          padding: 0;
          opacity: 0;
          height: 0;
        }
        .highlight {
          @include radius1;
          background-color: $acc3-4;
        }
        
        .main & {
          @include link2;
        }
      }
      li:last-child {
        border-bottom: 0;
      }
    }
  }
  &-search {
    display: inline-block;
    margin-top: 1em;
    font-size: $small2;
    line-height: 1.6em;
    &-wrap {
      display: inline-block;
      @include radius1;
      border: 1px solid $acc3-1;
      padding-left: 0.2em;
      svg {
        width: 1.2em;
        height: 1.2em;
        vertical-align: middle;
        padding-bottom: 0.2em;
        path {
          fill: $acc3-2;
        }
      }
    }
    &-input {
      padding: 0;
      border: none;
      max-width: 20em;
      margin: 0;
      vertical-align: baseline;
    }
  }
  
  &-post {
    &-contribute {
      float: right;
    }
  }
}

.sidebar-wiki {
  .wiki {
    margin: 0;
    border: 0;
    &-index {
      border: 0;
    }
    &-cat {
      border: 0;
      padding: 0;
      &-header {
        background-color: $trans;
        padding: 0;
        font-size: $big2;
        margin-top: 1em;
      }
      &-title {
        display: inline-block;
        border-bottom: 1px solid $acc3-1;
      }
      &-list {
        padding: 0;
        font-weight: 400;
        li {
          border-bottom: 0;
          padding: 0.2em 0;
        }
      }
    }
  }
}