{{!< default}}
              
{{! http://themes.ghost.org/docs/navigation}}
{{! http://localhost:2368/ghost/}}  
              
{{! Blog }}
              
<div class="row clearfix main blog">
  <div class="container">
    
    <section class="column three-fourths blog-list">
      {{> "loop"}}
    </section>
    
    {{> sidebar}}

  </div>
</div>