[Service]
ExecStart=/usr/bin/node /root/osmc-blog/index.js --production
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=osmc-blog

[Install]
WantedBy=multi-user.target
