[Service]
WorkingDirectory=/root/osmc-blog
ExecStart=/usr/bin/npm start
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=osmc-blog

[Install]
WantedBy=multi-user.target
