// affects cart in iframe
@at-root {
  section.store-cart {
    padding-right: 1em;
  }
}

&-cart {
  &-embed {
    font-size: $small2;
    line-height: 1.5em;
  }
  
  &-frame {
    iframe {
      border: 0;
      width: 100%;
    }
  }
  
  &-product {
    padding: 0.5em 0;
    border-bottom: 1px solid $acc3-1;
  }
  
  &-total {
    padding: 0.5em 0;
    font-weight: 600;
  }
  
  &-empty {
    margin: 0;
  }
  
  &-go {
    margin: 0;
    font-weight: 400;
    @include link2;
    
    span {
      font-size: $big4;
    }
  }
}

&-minicart {
  position: absolute;
  top: -4em;
  right: 0;
  display: block;
  width: 5em;
  height: 2em;
  overflow: hidden;
  
  @include res1 {
    top: -2em;
  }
  
  iframe {
    pointer-events: none;
    user-select: none;
  }
  
  &-embed {
    font-size: $small2;
  }
}