&-product {
  &-top {
    float: left;
    width: 100%;
    margin-top: 2em;
    font-size: $small1;
    
    .column {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  &-images {
    float: left;
    width: 100%;
    margin: 1em 0;
  }
  &-feat {
    background-size: cover;
    background-position: center;
    border: 1px solid $acc3-4;
    
    &-placeholder {
      opacity: 0;
      visibility: hidden;
      display: block;
    }
  }
  &-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em -0.25em;
  }
  &-img {
    float: left;
    padding: 0.25em;
    width: 25%;
    
    @include res1 {
      width: percentage(1/8);
      padding: 0.5em;
    }

    @include res2 {
      width: percentage(1/4);
    }
    
    &-wrap {
      background-size: cover;
      background-position: center;
      border: 1px solid $acc3-4;
      @include ani2;
      @include radius1;
      
      &:hover {
        border-color: $acc2-1;
      }
    }
    
    img {
      opacity: 0;
      visibility: hidden;
      display: block;      
    }
  }
  
  &-info {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 0.5em;
    padding-left: 2em;
    
    h4 {
      margin: 0;
      display: inline-block;
      margin-right: 0.5em;
    }
  }
  
  &-price {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 0.75em;
    
    span {
      border-bottom: 1px solid $black;
    }
    
    del {
      font-size: $small2;
      margin-right: 0.5em;
      color: $acc3-2;
      
      span {
        border-bottom: 0px;
      }
    }
    
    ins {
      text-decoration: none;
    }
  }
    
  &-quantity {
    margin: 0.5em 0;
    &-input {
      font-size: $small2;
      padding-top: 0;
      padding-bottom: 0;
      width: 3em;
      margin: 0;
      margin-bottom: 0.2em;
      line-height: 1.5em;
    }
    
    &-title {

    }
  }
  
  &-var {
    margin: 0.5em 0;
    &-title {
      vertical-align: text-top;
    }
    &-select {
      margin-bottom: 0.1em;
    }
  }
  
    
  &-cart {
    margin-top: 1em;
  }
  
  &-text {
    float: left;
    width: 100%;
  }
  
  &-frame {
    display: none;
  }  
}