$grid-spacing: 1.5em;
$grid-spacing-2: $grid-spacing * 2;

&-title {
  text-align: center;

  @include res1 {
    font-size: $small4;
  }
  @include res2 {
    font-size: 0.7em;
  }
  h2 {
    font-weight: 300;
  }
}

@at-root {
  a.store-feat {
    border: 1px solid $acc2-2;
    
    @include res2-rev {
      border-left-color: $trans;
      border-right-color: $trans;
    }
    
    &:hover {
      border: 1px solid $acc2-2;
      color: $acc2-1;
    }
  }
}

&-feat {
  float: left;
  width: 100%;
  position: relative;
  margin: 5em 0;
  padding: 3em 0;
  @include ani2;
  background-color: $white;
  
  @include res2 {
    margin: 2em 0;
    padding-bottom: 0;
  }
  
  @include res2-rev {
    display: flex;
    align-items: center;
  }
    
  &-sup {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.5em;
    background-color: $acc2-1;
    color: $black2;
    text-transform: uppercase;
    font-weight: 600;
    font-size: $small2;
    line-height: 1.7em;
    @include radius1;
  }
  
  .column {
    &:first-child {
      padding-left: 0;
    }
  }
  
  &-img {
    background-size: cover;
    background-position: center;
    
    @include res2 {
      width: 60%;
      float: none;
      margin: 0 auto;
    }
    
    img {
      display: block;
    }
  }
  
  &-placeholder {
    opacity: 0;
    visibility: hidden;
  }
  
  &-content {
    padding: 2em 0.5em;
    
    @include res2 {
      text-align: center;
    }
    @include res2-rev {
      padding: 1.5em 1em;
    }
  }
  
  &-title, &-desc {
    margin: 0;
  }
}

&-nav {
  float: left;
  width: 100%;
  margin: 0.5em 0;
  @include link3;

  a {
    display: inline-block;
    font-weight: 400;
    margin: 0 3em 0 0;
    user-select: none;
    cursor: pointer;
    color: $acc3-2;

    &.active {
      color: $link;
    }

    sup {
      font-weight: 400;
    }
  }
}

&-grid {
  width: calc(100% + #{$grid-spacing-2});
  margin-left: -$grid-spacing;
  display: flex;
  flex-wrap: wrap;
  opacity: 1;
  @include ani2;

  &.hide {
    opacity: 0;
  }
}

&-item {
  float: left;
  margin: 1.5em $grid-spacing;
  border: none;
  width: auto;

  &:hover {
    .store-item {
      &-view {
        background-color: rgba(108, 108, 108, 0.37);

        span {
          opacity: 1;
        }
      }
      &-content {
        color: $black;
      }
    }
  }

  &-wrap {
    width: 25%;

    @include res1 {
      width: 33.3%;
    }

    @include res2 {
      width: 100%;
    }

    &.hide {
      display: none;
    }
  }

  &-img {
    background-size: cover;
    background-position: center;
    border: 1px solid $acc3-4;
    border-bottom-width: 1px !important;
    position: relative;
    @include radius1;
  }
  &-placeholder {
    opacity: 0;
    visibility: hidden;
    display: block;
  }

  &-view {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $trans;
    @include ani2;
    @include radius1;

    span {
      @include ani2;
      opacity: 0;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 2em;
      letter-spacing: 5px;
      color: $white;
    }
  }

  &-content {
    float: left;
    width: 100%;
    margin-top: 0.5em;
    padding: 0 0.1em;
    line-height: 1.3em;
    font-size: $small1;
    font-weight: 400;
    color: $acc3-3;
    @include ani2;

    @include res2 {
      font-size: $big1;
    }
  }
  
  &-price {
    vertical-align: top;
    font-size: $small1;
    font-weight: 400;
    
    span {
      vertical-align: top;
      border-bottom: 1px solid $acc3-2;
    }
    
    del span {
      display: none;
      border-bottom: 0;
    }
    
    ins {
      text-decoration: none;
    }
  }

  &-two-thirds {
    width: 66.6%;
    float: left;
  }

  &-third {
    width: 33.3%;
    float: left;
    text-align: right;
  }
}