@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,600|Source+Code+Pro);
@import "normalize.css/normalize";
@import "partials/global";
@include link2;
body {
  font-size: $small1;
  overflow-y: auto;
  background-color: $white;
}

header.discourse {
  border-bottom: 0px;
  font-size: 100%;
  padding-left: 0px;
  padding-bottom: 0px;
  text-align: right;
  border-bottom: 1px solid $acc1-2;
  .replies {
    font-size: $small1;
    color: $acc3-2;
  }
  .button {
    @include button-green;
    float: left;
    margin-top: 2.5em;
    padding: 0.15em 0.7em 0.1em;
  }
}

article.post {
  float: left;
  width: 100%;
  padding: 1em 0;
  @include link2;
  .author {
    padding: 0 5px;
    img {
      max-width: 30px;
    }
  }
  .in-reply-to {
    font-size: $small2;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.7em;
  }
  .post-date {
    font-size: $small2;
    margin: 0;
    line-height: 1.7em;
    color: $link;
  }
  .cooked {
    margin-left: 50px;
    padding: 0;
    p {
      @include link;
      margin: 0 0 0.8em;
    }
    .button {
      @include button;
      padding: 0 0.7em;
    }
    .username {
      @include link;
      font-size: 90%;
      line-height: 1.7em;
      margin-bottom: 0.5em;
      a.staff {
        background-color: $trans;
      }
      span.title {
        color: $acc3-2;
        &:before {
          font-size: 90%;
          content: "- ";
        }
      }
    }
  }
  .quote {
    .title {
      background-color: $acc1-3;
      font-size: $small2;
      border-left: 5px solid $acc1-2;
      img {
        border-radius: 50px;
        margin-bottom: 2px;
      }
    }
    blockquote {
      background-color: $acc1-3;
      border-left: 5px solid $acc1-2;
    }
  }
  aside {
    margin: 1em 0;
  }
  aside.onebox {
    border-left: 5px solid $acc1-2;
    background-color: $acc1-3;
    font-size: 90%;
    .source {
      background-size: 16px 16px;
      background-position: 1px;
      padding-left: 25px;
      @include link;
    }
    .onebox-body {
      @include link2;
    }
  }
}

footer {
  font-size: 100%;
  width: 100%;
  float: left;
  text-align: right;
  margin: 1em 0;
  .button {
    @include button-green;
    padding: 0.15em 0.7em 0.1em;
    margin-top: -0.15em;
    float: left;
  }
  .replies {
    font-size: $small1;
    color: $acc3-2;
  }
  img {
    display: none;
  }
}