@import "normalize-scss/normalize";
@import "partials/global";
@import "lib/grid";
@import "lib/chartistSettings";
@import "chartist/dist/scss/chartist";
@import "modules/form";
@import "modules/home";
@import "modules/sidebar";
@import "modules/post";
@import "modules/download";
@import "modules/wiki";
@import "modules/donate";
@import "modules/share";
@import "modules/error";
@import "modules/footer";

.corp-index {
	margin: 0 0 2em;
}

abbr[title] {
  border-bottom: none;
}

.bloglist {
  &-post {
    margin: 0 0 2em;
  }
}

.main {
  margin-bottom: 1em;
}

nav.pagination {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 1em 0;
  li,
  li:last-child {
    padding: 0 0.2em 0 0.2em;
  }
  li a {
    font-weight: 400;
  }
}

// ie
.ie9 a {
  text-decoration: none;
  border-bottom: none;
}