@import "normalize-scss/normalize";
@import "partials/global";
@import "lib/grid";
@import "lib/chartistSettings";
@import "chartist/dist/scss/chartist";
@import "modules/form";
@import "modules/header";
@import "modules/home";
@import "modules/sidebar";
@import "modules/post";
@import "modules/download";
@import "modules/wiki";
@import "modules/donate";
@import "modules/share";
@import "modules/error";
@import "modules/footer";

.corp-index {
	margin: 0 0 2em;
}

abbr[title] {
  border-bottom: none;
}

.pagination {
	margin-top: 4em 0;
	font-size: $small2;
	text-align: center;
}

.bloglist {
	@include link($link, $black);
	
  &-post {
    margin: 0 0 2em;
  }
	&-excerpt {
		font-size: $small2;
	}
}
.more {
	font-size: $big4;
}

.main {
	margin-top: 8em;
  margin-bottom: 4em;
	
	.page-home & {
		margin-top: 0;
	}
}

// ie
.ie9 a {
  text-decoration: none;
  border-bottom: none;
}