a, a:visited {
	color: $black;
	border-bottom: 0;
	text-decoration: none;
	@include ani1;
}

html,
body,
button,
input,
select,
textarea {
  font-family: $font;
  font-weight: 400;
  font-size: 100%;
}
textarea {
	line-height: 1.4em;
}

button, select, textarea, input, a, img {
	&:focus {
		outline: 0;
	}
}

* {
  -webkit-font-smoothing: subpixel-antialiased;
}

::selection {
	background: $acc1-2;
}
::-moz-selection {
	background: $acc1-1;
}

// Main
html,
body {
  width: 100%;
  line-height: $line-h;
}

body {
  background-color: $acc3-4;
  color: $dark;
  margin: 0;
  overflow-y: scroll;
	
	&.page-home {
		background-color: $white;
	}
}

.body-wrap {
	@include radius1;
	
	.page-home & {
		margin: 0;
		background-color: $trans;
	}
}

.main {
  padding-bottom: 4em;
	background-color: $white;
	
	.page-home & {
		margin-top: 0;
		background-color: $trans;
	}
}

img {
  max-width: 100%;
  height: auto;
  @include transition-duration($ani-duration1);
  @include transition-timing-function(ease);
}

ul, ol {
  padding-left: 1.3em;
  margin: 0;
}

li {
  margin: 0.20em 0;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid $acc1-2;
  margin: 1.5em 0;
}

h1 {
	font-size: 2.1em;
	@include text-shadow(1px 1px 0px $acc3-4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 1.2em 0 0.5em;
  line-height: 1.4em;
}

p {
  margin: 0.8em 0;
}

blockquote {
  background-color: $quote;
  margin: 0;
  padding: 0.1em 0.5em 0.1em 1em;
}

$bp: 0 0.7em;

button, .button {
  @include button;

  &-alt1 {
    @include button-alt1;
	}
	&-alt2 {
    @include button-alt2;
	}
}

button, button.button, span.button {
	padding: $bp;
  &-alt1, &-alt2 {
		padding: $bp;
	}
}

pre {
  background-color: $pre;
  line-height: 1.3em;
  @include box-shadow($white 0 0 8px);
  padding: 1em;
  white-space: pre-wrap;
  max-height: 400px;
  overflow: auto;
  @include scrollbars(0.35em, $acc1-5, $acc1-3);
    
  code {
    font-size: $small3;
    display: block;
    color: $pre-text;
    background-color: $trans;
		word-break: normal;
  }
}

code {
  font-size: $small3;
  font-family: $font-code;
  color: $code;
  background-color: $code-back;
  padding: 0 0.2em 0.1em;
  @include radius1;
	word-break: break-all;
}

.break {
  display: block;
  width: 100%;
  padding: 0.19em 0;
  background-color: $back;
  
  $dot: $acc1-1;
  $dot2: $white;
  
  $gradient: 135deg, $dot2, $dot 1px, transparent 1px, transparent 3px, $dot 3px;
  $size: 4px 4px;
  
  background-image: -webkit-repeating-linear-gradient($gradient);
  background-image: -moz-repeating-linear-gradient($gradient);
  background-image: -o-repeating-linear-gradient($gradient);
  background-image: repeating-linear-gradient($gradient);
  -webkit-background-size: $size;
  -moz-background-size: $size;
  background-size: $size;
}

table {
  width: 100%;
	font-size: $small1;
  th, td {
    padding: 0.2em 1em 0.2em 0;
    text-align: left;
  }
}

.ani1 {
	@include animation-duration($ani-duration1);
}
.ani2 {
	@include animation-duration($ani-duration2);
}