@mixin ie10 {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin ani1 {
	@include animation-duration($ani-duration1);
}
@mixin ani2 {
	@include animation-duration($ani-duration2);
}

@mixin radius1 {
	@include border-radius($b-radius1);
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  &::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  &::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  scrollbar-face-color: $foreground-color;
  scrollbar-track-color: $background-color;
}


$link: $acc1-1;
$link-hover: $acc1-4;
$link-bottom: rgba(0, 0, 0, 0.08);
$link-bottom-hover: adjust-hue( lighten( $link, 30% ), 22% );


@mixin link ($color: null, $color-hover: null) {
  
  $border-bottom: null;
  $border-bottom-hover: null;
    
  @if $color {
    $border-bottom: 0px;
    $border-bottom-hover: 0px;
  } @else {
    $color: $link;
    $color-hover: $link-hover;
    $border-bottom: 2px solid $link-bottom;
    $border-bottom-hover: 2px solid $link-bottom-hover;
  }
  
  a {
    color: $color;
    text-decoration: none;
    border-bottom: $border-bottom;
    @include ani1;
    @include transition-timing-function(ease);
    
    &:visited {
      color: $color;
      border-bottom: $border-bottom;
    }
    &:hover, &:active, &:focus {
      color: $color-hover;
      border-bottom: $border-bottom-hover;
      
      img {
        opacity: 0.6;
      }
      
    }
  }
  
}

@mixin hover ($color, $setting: null) {
  
  @if $setting == "back" {
    $setting: "background-color";
  } @else {
    $setting: "color";
  }
  
  &:hover {
    #{$setting}: $color;
  }
  &:active {
    #{$setting}: $color;
  }
  &:focus {
    #{$setting}: $color;
	}
}

@mixin button ($back: null, $hover: null, $height: null, $homepage: null) {
	
  @if $back {
  } @else {
      $back: $acc1-5;
  }
  @if $hover {
  } @else {
      $hover: $acc1-4;
  }
  @if $height {
  } @else {
     $height: 0.15em;
  }
  
  @if $homepage {
    background-color: $back;
    color: $white;
    @include transition-duration($ani-duration1);
  } @else {
    display: inline-block;
    font-size: $small2;
    border: 0;
    @include radius1;
    color: $white;
    background-color: $back;
    padding: $height 0.7em;
    margin: 0.3em 0.3em 0.3em 0;
    cursor: pointer;
    @include transition-duration($ani-duration1);
  }
  border-bottom: 0px;
  
  &:visited {
    color: $white;
  }
	
  &:hover, &:active, &:focus {
    color: $white;
    border-bottom: 0px;
  }
  
  // color hover
  @include hover($white);

  // background hover
  @include hover($hover, back);
}

// Standard Shadows
$z1-shadow: 0  1px  3px rgba(#000, 0.12), 0  1px  2px rgba(#000, 0.24);
$z2-shadow: 0  3px  6px rgba(#000, 0.16), 0  3px  6px rgba(#000, 0.23);
$z3-shadow: 0 10px 20px rgba(#000, 0.19), 0  6px  6px rgba(#000, 0.23);
$z4-shadow: 0 14px 28px rgba(#000, 0.25), 0 10px 10px rgba(#000, 0.22);
$z5-shadow: 0 19px 38px rgba(#000, 0.30), 0 15px 12px rgba(#000, 0.22);

@mixin button-alt1 {
	@include button;
	background-color: $acc2-1;
	@include hover($acc2-3, back);
}

@mixin button-alt2 {
	@include button;
	background-color: $acc3-2;
	@include hover($acc3-3, back);
}

@mixin ani-news {
  @include animation-duration(0.3s);
  @include animation-timing-function(ease-out);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@mixin res1 {
  @media (max-width: #{$res1}) {
    @content;
  }
}
@mixin res2 {
	@media (max-width: #{$res2}) {
    @content;
  }
}


@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.slideOutDown {
  -webkit-animation-name: slideOutDown;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}