//home page
$blue-s1: #2e9db8;
$blue-s2: #107aaf;
$blue-s3: #0C5B8E;

$line-h: 1.7em;

$big1: 105%;
$big2: 110%;
$big3: 115%;
$big4: 120%;

$small1: 95%;
$small2: 90%;
$small3: 85%;
$small4: 80%;

$res1: 52em;
$res1-1: 38em;
$res2: 33em;

$white: #ffffff;
$back: $white;

$black1: #282828;
$black2: #1F3A4C;

$dark: $black2;
$black: $dark;
$trans: transparent;

// Blue
$blue1: #0f8ccb;
$blue2: rgb(206, 226, 247);
$blue3: lighten($blue2, 7%);
$blue4: darken($blue1, 10%);
$blue5: #4facdb;
$blue6: #003450;

// Green
$green1: #35d0a7;
$green2: #98ebd2;
$green3: #2aa585;
$green4: #50BE9C;

// Grey
$grey1: #D3D3D3;
$grey2: #969696;
$grey3: #575757;
$grey4: #f2f2f2;

$brand-blue: #2C86A5;
$brand-dblue: #1F3A4C;
$brand-green: #50BE9C;
$brand-gold: #E4BE92;
$brand-red: #E44D51;

$red2: #fc4f4f;

// Accent colors
$acc1-1: $blue1;
$acc1-2: $blue2;
$acc1-3: $blue3;
$acc1-4: $blue4;
$acc1-5: $blue5;

$acc2-1: $green1;
$acc2-2: $green2;
$acc2-3: $green3;

$acc3-1: $grey1;
$acc3-2: $grey2;
$acc3-3: $grey3;
$acc3-4: $grey4;

$acc4-1: $brand-gold;
$acc4-2: darken($acc4-1, 7%);
$acc4-3: lighten($acc4-1, 7%);

$acc5-1: $brand-red;
$acc5-2: $red2;

// Links
$link: $acc1-1;
$link-hover: $acc1-4;
$link-bottom: rgba(0, 0, 0, 0.08);
$link-bottom-hover: adjust-hue( lighten( $acc1-1, 27% ), 15% );

$link2: $brand-blue;

$button: $acc1-5;
$button-hover: $acc1-1;

// etc.
$quote: $acc3-4;
$pre: $acc1-2;
$pre-text: $black;
$pre-scroll: $acc1-5;
$pre-scroll-back: $acc1-3;
$code: $acc1-1;
$code-back: $acc3-4;

// Social
$facebook: #3b5998;
$twitter: #55acee;
$google: #dc4e41;
$github: $acc3-2;
$rss: #F60;

$font: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$font-code: "Source Code Pro", "Monospace", Monospace;

$ani-duration1: 0.05s;
$ani-duration2: 0.2s;

$b-radius1: 1px;