<!DOCTYPE html>
<!--

{{> ascii}}

-->
<html>
{{> head}}
<body class="{{body_class}}">
  
  {{> donate}}
	{{> header}}
  {{{body}}}
	{{> footer}}
  
  {{ghost_foot}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="{{asset "js/main.js"}}"></script>
</body>
</html>
