<!DOCTYPE html>
<html>
{{> head}}
<body class="{{body_class}}">
  
  {{> donate}}
  {{{body}}}
	{{> footer}}
  
  {{ghost_foot}}
  <script type="text/javascript" src="{{asset "js/main.js"}}"></script>
</body>
</html>
