{{!< default}}
<div class="row clearfix main {{post_class}}">
  <div class="container">
    <article class="column full post-body">
      
      <header class="post-header column three-fourths">
        <h1 class="post-title">404</h1>
        <section class="post-meta">
        </section>
      </header>
      
      <div class="column full">
        {{> break}}
        <section class="post-content">
          <h2>RAAAAAAAAAK</h2>
					<h3>Not found.</h3>
        <footer class="post-footer">
        </footer>
      </div>
    </article>
  </div>
</div>