{{!< default}}

<div class="row clearfix main {{post_class}}">
	<article>

		<header class="post-header">
			<h1 class="post-title">{{title}}</h1>
		</header>

		<section class="post-content"><p>ijefiewjf</p><p>ofwefoewj</p>

		</section>

	</article>
</div>