{{!< x-main}}
<div class="row clearfix main {{post_class}}">
  <div class="container">
    <article class="column full post-body">

      <header class="post-header column three-fourths">
        <h1 class="post-title">Page not found</h1>
        <section class="post-meta">
        </section>
      </header>

      <div class="column full">
        {{> post/break}}
        <section class="post-content">

					<div class="row cleafix error">
						<div class="column-fixed half error-text-wrap">
							<div class="error-text">
          			<h2>Oops!</h2>
								<h3>Our parrot couldn't find that page for you. Did you follow a link? <a href="https://osmc.tv/contact">Kindly let us know</a> so we can fix it.</h3>
							</div>
						</div>
						<div class="column-fixed half">
							<div class="error-image">
								<img src="{{asset "img/404.png"}}">
							</div>
						</div>
					</div>
        <footer class="post-footer">
        </footer>
      </div>
    </article>
  </div>
</div>
