{{!< default}}
{{#post}} 
<div class="row clearfix main {{post_class}} download">
  <div class="container">
    <article class="column full post-body">
      
      <header class="post-header column three-fourths">
        <h1 class="post-title">{{title}}</h1>
        <section class="post-meta">
        </section>
      </header>
      
      <div class="column three-fourths">
        {{> break}}
        <section class="post-content">
					
					<div class="download-devices">
						{{> svg/device/pi}}
						{{> svg/device/vero}}
						{{> svg/device/appletv}}
					</div>
          
					<hr>
					
					{{content}}
					<section class="row clearfix download-systems">
						<div class="column-fixed third download-system">
							{{> svg/windows}}
							<div class="download-system-wrap">
								<a href="http://download.osmc.tv/installers/osmc-installer.exe" class="download-system-dl">
									<span class="download-system-title ani1">Windows</span>
									{{> svg/download}}
								</a>
								<span class="download-system-meta" title="XP SP2 or later. Not sure about 2000">XP SP2 +</span>
							</div>
						</div>
						<div class="column-fixed third download-system">
							{{> svg/osx}}
							<div class="download-system-wrap">
								<a href="http://download.osmc.tv/installers/osmc-installer.dmg" class="download-system-dl">
									<span class="download-system-title ani1">OS X</span>
									{{> svg/download}}
								</a>
								<span class="download-system-meta">10.07 +</span>
							</div>
						</div>
						<div class="column-fixed third download-system">
							{{> svg/linux}}
							<div class="download-system-wrap">
								<a href="http://software.opensuse.org/download.html?project=home:osmc&package=osmc-installer&hcolor=17394a&fcolor=17394a&acolor=17394a" target="_blank" class="download-system-dl">
									<span class="download-system-title ani1">Linux</span>
									{{> svg/download}}
								</a>
							</div>
						</div>
					</section>
					
					<hr>
					
					<p>You can also download disk images.</p>
					<span class="download-disk button">
						<span class="download-disk-text">Disk images</span>{{> svg/cd}}
					</span>
					
					<div class="download-tables">
          	{{{images}}}
					</div>
					
					<hr>
					
					<div class="download-ad">
						{{> download-ad}}
					</div>
					
        </section>

        <footer class="post-footer">
					{{> break}}
        </footer>
      </div>
      
      {{> sidebar}}
      
    </article>
  </div>
</div>
{{/post}}