{{!< default}}
{{#post}} 
<div class="row clearfix main {{post_class}}">
  <div class="container">
    <article class="column full post-body">
      
      <header class="post-header column three-fourths">
        <h1 class="post-title">{{title}}</h1>
        <section class="post-meta">
        </section>
      </header>
      
      <div class="column three-fourths">
        {{> break}}
        <section class="post-content">
          {{content}}
          
					<hr>
					
					<h3>OS</h3>
					<p>Prepare osmc on your OS. Select your OS.</p>
					<div class="row clearfix download-systems">
						<div class="column third download-system">
							{{> svg/windows}}
							<div class="download-system-wrap">
								<span class="download-system-title">Windows</span>
								<a href="http://download.osmc.tv/installers/osmc-installer.exe" class="download-system-dl">{{> svg/download}}</a>
							</div>
						</div>
						<div class="column third download-system">
							{{> svg/osx}}
							<div class="download-system-wrap">
								<span class="download-system-title">OS X</span>
								<a href="http://download.osmc.tv/installers/osmc-installer.dmg" class="download-system-dl">{{> svg/download}}</a>
							</div>
						</div>
						<div class="column third download-system">
							{{> svg/linux}}
							<div class="download-system-wrap">
								<span class="download-system-title">Linux</span>
								<a href="http://software.opensuse.org/download.html?project=home:osmc&package=osmc-installer&hcolor=17394a&fcolor=17394a&acolor=17394a" target="_blank" class="download-system-dl">{{> svg/download}}</a>
							</div>
						</div>
					</div>
					
					<div class="download-tables">
						<hr>
          	{{{images}}}
					</div>
        </section>

        {{> break}}

        <footer class="post-footer">
          {{> share-buttons}}
        </footer>

        {{> break}}
      </div>
      
      {{> sidebar}}
      
    </article>
  </div>
</div>
{{/post}}