{{!< default}}
<div class="row clearfix main wikipost">
  <div class="container">
    <article class="column full post-body">
      
      <header class="post-header column three-fourths">
        <h1 class="post-title">{{wiki-post "title"}}</h1>
        <section class="post-meta">
          <a class="post-link" href="/wiki">Back to wiki</a>
          <a class="wikipost-contribute" href="{{wiki-post "discourseUrl"}}" target="_blank">Make this page better</a>
        </section>
      </header>
      
      <div class="column three-fourths">
        {{> break}}
        <section class="post-content">
          {{{wiki-post "body"}}}
        </section>

        {{> break}}

        <footer class="post-footer">
        </footer>
      </div>
      
      {{> sidebar-wiki}}
      
    </article>
  </div>
</div>