{{!< default}}

<div class="row clearfix main wikipost">
  <div class="container">
    <article class="column full post-body">

      {{> post/header wikipost=true}}

      <div class="column three-fourths post-three post-break">
        {{> post/break}}
      </div>

      <div class="column three-fourths post-three post-wrap">

        <div class="post-content" itemprop="articleBody">
          {{{wikiPost.body}}}
        </div>

      </div>

      {{> sidebar-wiki}}

    </article>
  </div>
</div>