{{!< x-page}}

{{#post}}
{{content}}
{{/post}}

<div class="wiki-search">
  <div class="wiki-search-wrap">
    {{> svg/search}}
    <input class="wiki-search-input" type="text" value="" placeholder="Search">
  </div>
</div>

{{> wiki-index}}