{{!< default}}
{{#post}} 
<div class="row clearfix main {{post_class}}">
  <div class="container">
    <article class="column full post-body">
      
      <header class="post-header column three-fourths">
        <h1 class="post-title">{{title}}</h1>
        <section class="post-meta">
        </section>
      </header>
      
      <div class="column three-fourths">
        {{> break}}
        <section class="post-content">
					{{content}}
					{{> wiki-search}}
					<section class="wiki">
						<div class="wiki-list">
          		{{{wiki-index}}}
						</div>
					</section>
					{{> break}}
        <footer class="post-footer">
        </footer>
      </div>
      {{> sidebar}}
    </article>
  </div>
</div>
{{/post}}