{{!< default}}
<div class="row clearfix main {{post_class}}">
  <div class="container">
    <article class="column full post-body" itemscope itemType="http://schema.org/BlogPosting">
      
      {{#post}}
      {{> post/header post=true}}
      {{/post}}
			
			<div class="column three-fourths post-three post-break">
				{{> post/break}}
			</div>
      
      <div class="column three-fourths post-three post-wrap">
				
        <div class="post-content" itemprop="articleBody">
				  {{{body}}}
        </div>
				
				{{> post/break}}
				
				<footer class="post-footer">
					{{> share-buttons}}
				</footer>
				
				{{> post/break}}
        
        <div class="post-ad">
          {{> post/ad}}
        </div>
				
				{{> post/comments}}
				
      </div>
			
      {{> sidebar/main}}
      
    </article>
  </div>
</div>

<!-- To disable comments on drafts -->
{{{draft}}}