{{!< default}}
<div class="row clearfix main {{post_class}}">
  <div class="container">
    <article class="column full post-body" itemscope itemType="http://schema.org/BlogPosting">
      
      {{#post}}
      {{> post/header}}
      {{/post}}
      {{> post/header}}
      
      <div class="column three-fourths post-three post-break">
        {{> post/break}}
      </div>
      
      <div class="column three-fourths post-three post-wrap">
        <div class="post-content img-box" itemprop="articleBody">
          {{{body}}}
        </div>
        
        {{#if post}}
        {{> post/break}}
        {{> post/share}}
        {{> post/break}}
        {{> post/ad}}
        {{> post/comments}}
        {{/if}}
        
      </div>
      
      {{> sidebar/index}}
      
    </article>
  </div>
</div>

<!-- To disable comments on drafts -->
{{{draft}}}