{{!< default}}

<div class="row clearfix main {{post_class}}">
  <div class="container">
    <div class="column full post-body">

      <div class="column full">

        <div class="post-content" itemprop="articleBody">
          {{{body}}}
        </div>

      </div>
    </div>
  </div>
</div>