<section class="sidebar-donate">
  <header class="sidebar-header">
    <h3 class="sidebar-title">Donate</h3>
  </header>
  <p class="sidebar-text">OSMC is free and will always remain free. Help OSMC grow by making a donation. No matter how much you wish to give, every contribution is valued.</p>
  <a href="#donate" class="button">Donate</a>
</section>
