<section class="sidebar-donate">
  <header class="sidebar-header">
    <h3 class="sidebar-title">Donate</h3>
  </header>
  <p class="sidebar-text">OSMC is free and will always remain free. Help support further development by making a donation. No matter how large or small, every contribution is appreciated.</p>
  <a href="#donate" class="button">Donate</a>
</section>