<section class="sidebar-news">
  <header class="sidebar-header">
    <h3 class="sidebar-title">Newsletter</h3>
  </header>
  <p class="sidebar-text">Just your regular old newsletter.<br/>OSMC, parrots n' pirates.</p>
  <form action="https://osmc.tv/content/plugins/newsletter/do/subscribe.php" method="POST" class="sidebar-news-form">
    <div class="sidebar-news-icons">
      <span class="sidebar-news-icon1">
        <span class="sidebar-news-spinner">
          <img src="{{asset "img/load.gif"}}">
        </span>
        <span class="sidebar-news-mail">
          {{> svg/mail}}
        </span>
      </span>
      <button class="sidebar-news-check" type="submit">
        {{> svg/check}}
      </button>
    </div>
    <input class="sidebar-news-email" type="email" value="" placeholder="Email" required>
  </form>
</section>