<section class="sidebar-social">
  <header class="sidebar-header">
    <h3 class="sidebar-title">Social</h3>
    <ul class="link">
      <li class="link-facebook">
        <a href="https://www.facebook.com/osmcproject" target="_black">{{> svg/facebook}}Facebook</a>
      </li>
      <li class="link-twitter">
        <a href="https://twitter.com/try_osmc" target="_black">{{> svg/twitter}}Twitter</a>
      </li>
      <li class="link-github">
        <a href="https://github.com/osmc/osmc" target="_black">{{> svg/github}}GitHub</a>
      </li>
      <li class="link-rss">
        <a href="/rss" target="_black">{{> svg/rss}}RSS</a>
      </li>
    </ul>
  </header>
</section>
