<a href="/vero">
  <section class="sidebar-vero">
    <header class="sidebar-header">
      <h3 class="sidebar-title sidebar-vero-title">The new Vero is OSMC's flagship device, and it's the best way to enjoy OSMC. <span>⇾</span></h3>
    </header>
  </section>
</a>