<form class="contact" action="https://osmc.tv/about/contact" method="POST">
	<div class="contact-wrap">
		<input class="contact-name" name="" required="" size="40" type="text" placeholder="Name">
		<input class="contact-email" name="email" required="" size="40" type="email" placeholder="Email">
	</div>
	<textarea class="contact-message" name="message" required="" placeholder="Message" style="background-image: none; background-position: 0% 0%; background-repeat: repeat;"></textarea><br>
	<button type="submit">Send Message</button>
</form>