<form class="contact-form" action="https://osmc.tv/contact.php" method="POST">
	<div class="contact-wrap">
		<input class="contact-name" name="name" required="" size="40" type="text" placeholder="Name">
		<input class="contact-email" name="email" required="" size="40" type="email" placeholder="Email">
	</div>
	<textarea class="contact-message" name="message" required="" placeholder="Message"></textarea><br>
	<p>Please click this button only once</p>
	<button type="submit">Send Message</button>
</form>
