<div class="donate">
  <div class="row clearfix donate-wrap">
    <div class="container">
      
      <div class="column two-thirds flow-opposite donate-text">
        <header class="donate-header">
          <h2 class="donate-title">Donate</h2>
          <p>Help us make OSMC better by making a donation. Donations help fund hardware, hosting costs and future development.</p>
          <span class="donate-exit">{{> svg/cross}}</span>
        </header>
      </div>
            
      <div class="column third donate-form-wrap">
        <form class="donate-form" action="#">
          <input type="tel" class="amount" id="amount" name="amount" required>
          <input type="radio" class="radio" id="usd" name="currency" value="USD" checked="checked">
          <label class="ani2" for="usd">USD</label>
          <input type="radio" class="radio" id="eur" name="currency" value="EUR">
          <label class="ani2" for="eur">EUR</label>
          <input type="radio" class="radio" id="gbp" name="currency" value="GBP">
          <label class="ani2" for="gbp">GBP</label>
          <div class="donate-options">
            <button class="button donate-button donate-paypal" title="Paypal" type="submit" value="Submit">
              {{> svg/paypal}}
            </button>
          </div>
          <div class="donate-alt">
            <p>You can also donate via Bitcoin (3ETc7ANJakxKssgn8CYbspXNvGipNpmMVF).</p>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
