<footer class="footer">
  <div class="container">
    <div class="row clearfix footer-wrap footer-top">

			<div class="column half footer-left">
				<div class="footer-size footer-info">
					<img class="footer-logo" src="{{asset "img/logo/logo2-b.png"}}">
					<span class="footer-desc">{{@blog.description}}</span>
				</div>
			</div>
			<div class="column half footer-right">
				<div class="footer-size">
					<div class="footer-links">
						<a target="_blank" href="http://stats.osmc.io">System Status</a><br>
        		<a href="/corporate-and-legal">Corporate and Legal</a>
					</div>
				</div>
			</div>
			
		</div>
		
		<div class="row clearfix footer-wrap footer-bottom">
			
			<div class="column full">
				<div class="footer-size footer-bottom-wrap">
					<span class="footer-made">
						<a href="http://simonbrunton.com" target="_blank" class="designed">Graphic Design by Simon Brunton</a><br>
						<a href="http://markthe.is" target="_blank" class="designed">Website Design by Mark Theis Madsen</a>
					</span>
					<span class="footer-c">
						<span class="footer-c-text">&#169; 2015 OSMC</span>
					</span>
				</div>
			</div>
			
		</div>
  </div>
</footer>