<div class="header-top"></div>
<header class="row clearfix header">
  <div class="header-main">
    <div class="container">
      <div class="column full">
        <div class="column full header-wrap">

            <div class="header-logo">
              <a href="/">
                {{> svg/logo/logo3}}
                {{> svg/logo/logo2}}
              </a>
            </div>
            {{navigation}}
        </div>
      </div>
    </div>
  </div>
  
  {{#unless home}}
  {{#get "posts" slug="banner" as |post|}}
  {{#post}}
  <div class="banner">
    <div class="container">
      <div class="banner-wrap">
        {{{content}}}
      </div>
    </div>
  </div>
  {{/post}}
  {{/get}}
  {{/unless}}
  
</header>