<div id="container">
  <header class="header">
    <div class="container">
      <div class="column full">
        <div id="logo-img"><a href="/"><img src="{{asset "img/logo-l.png"}}"></a></div>
        <nav role="navigation" class="nav-header">
          {{navigation}}
        </nav>
        <div class="bars" id="nav-res-toggle">
          <p>Menu</p>
        </div>
      </div>
    </div>
  </header>
</div>