<div class="header-top"></div>
<header class="row clearfix header">
	<div class="container">
		<div class="column full">
			
			<div class="column full header-wrap">
					
					<div class="header-logo">
						<a href="/">
							{{> svg/logo/logo3}}
						</a>
					</div>

					{{navigation}}
			</div>
		</div>
	</div>
</header>