<div class="share">
  <a class="button share-button share-facebook" target="_blank" href="https://facebook.com/sharer.php?u={{url absolute=true}}">
    {{> svg/facebook}}
    <span class="share-text">Facebook</span>
  </a>

  <a class="button share-button share-twitter" target="_blank" href="https://twitter.com/share?url={{url absolute=true}}&text={{title}}&via=try_osmc">
    {{> svg/twitter}}
    <span class="share-text">Twitter</span>
  </a>

  <a class="button share-button share-google" target="_blank" href="https://plus.google.com/share?url={{url absolute=true}}">
    {{> svg/google}}
    <span class="share-text">Google</span>
  </a>

  <span class="share-title">Share</span>
</div>