@import "partials/global";
@include link($link, $black);
body {
  font-size: $small1;
  overflow-y: auto;
}

header.discourse {
  border-bottom: 0px;
  font-size: 100%;
  padding-left: 0px;
  padding-bottom: 0px;
  text-align: right;
  border-bottom: 1px solid $acc1-2;
  .replies {
    font-size: $small1;
    color: $acc3-2;
  }
	.button {
      @include button-alt1;
      float: left;
      margin-top: 2.5em;
      padding: 0.15em 0.7em 0.1em;
	}
}

article.post {
  float: left;
  width: 100%;
  padding: 0.5em 0;
  
  .author {
    padding: 7px 5px;
    img {
      max-width: 30px;
    }
  }
  .in-reply-to {
    @include hover($acc2-1);
    color: $link;
    font-size: $small2;
  }
  .post-date {
    @include hover($acc2-1);
    color: $link;
    font-size: $small2;
  }
  .cooked {
    margin-left: 50px;
    p {
      @include link;
    }
    .button {
      @include button(null, null, 0);
    }
    .username {
      @include link;
      font-size: 90%;
      a.staff {
        background-color: $trans;
      }
      span.title {
        color: $acc3-2;
        &:before {
          font-size: 90%;
          content: "- ";
        }
      }
    }
  }
  .quote {
    .title {
      background-color: $acc1-3;
      font-size: $small2;
      border-left: 5px solid $acc1-2;
      img {
        @include border-radius(50px);
        margin-bottom: 2px;
      }
		}
    blockquote {
      background-color: $acc1-3;
      border-left: 5px solid $acc1-2;
    }
  }
	aside {
		margin: 1em 0;
	}
  aside.onebox {
    border-left: 5px solid $acc1-2;
    background-color: $acc1-3;
    font-size: 90%;
    .source {
      background-size: 16px 16px;
      background-position: 1px;
      padding-left: 25px;
			@include link;
    }
    .onebox-body {
      @include link($link, $black);
    }
  }
}

footer {
  font-size: 100%;
  width: 100%;
  float: left;
  text-align: right;
  margin: 1em 0;
  .button {
    @include button-alt1;
    padding: 0.15em 0.7em 0.1em;
    margin-top: -0.15em;
    float: left;
  }
  .replies {
    font-size: $small1;
    color: $acc3-2;
  }
  img {
    display: none;
  }
}