@import "partials/global";
@include link($link, $black);
body {
  font-size: $small1;
}

header.discourse {
  border-bottom: 0px;
  font-size: 100%;
  padding-left: 0px;
  padding-bottom: 0px;
  margin-bottom: 1em;
  text-align: right;
  border-bottom: 1px solid $acc1-2;
  .replies {
    font-size: $small1;
    color: $acc3-2;
  }
}

article.post {
  .author {
    padding: 8px 5px;
    img {
      max-width: 30px;
    }
  }
  .in-reply-to {
    @include hover($acc2-1);
    color: $link;
    font-size: $small2;
  }
  .post-date {
    @include hover($acc2-1);
    color: $link;
    font-size: $small2;
  }
  .cooked {
    margin-left: 50px;
    p {
      @include link;
    }
    .button {
      @include button(null, 0);
    }
    .username {
      @include link;
      font-size: 90%;
      a.staff {
        background-color: $trans;
      }
      span.title {
        color: $acc3-2;
        &:before {
          font-size: 90%;
          content: "- ";
        }
      }
    }
  }
  .quote {
    .title {
      background-color: $acc1-3;
      font-size: $small2;
      border-left: 5px solid $acc1-2;
      img {
        @include border-radius(50px);
        margin-bottom: 2px;
      }
    }
    blockquote {
      background-color: $acc1-3;
      border-left: 5px solid $acc1-2;
    }
  }
  aside.onebox {
    border-left: 5px solid $acc1-2;
    background-color: $acc1-3;
    font-size: 90%;
    margin: 1em 0;
    .source {
      background-size: 16px 16px;
      background-position: 1px;
      padding-left: 25px;
    }
    .onebox-body {
      @include link($link, $black);
    }
  }
}

footer {
  font-size: 100%;
  .button {
    @include button(null, 0);
  }
}