@import "../../node_modules/normalize.css/normalize.css";

@import "partials/global";

@import "lib/grid";
@import "lib/chartistSettings";
@import "../../node_modules/chartist/dist/scss/chartist";

.share {
  @include link($white, $white);
  width: 100%;
  overflow: auto;
  font-size: $small1;
  
  &-wrap {
    width: 100%;
  }
  
  &-button {
    padding: 0.05em 0.7em;
    margin: 0 0.5em 0 0;
    float: left;
  }
  
  &-title {
    display: inline-block;
    margin: 0;
    font-size: $small1;
    padding-right: 0.5em;
    margin-top: 0.1em;
    float: right;
    color: $acc3-2;
  }
  
  svg {
    width: 1.1em;
    height: 1.1em;
    padding-bottom: 1px;
    vertical-align: sub;
    
    path {
      fill: $white;
    }
  }
  
  &-text {
    padding: 0 0.2em;
    display: inline-block;
  }
  
  &-facebook {
    $color: $facebook;
    background-color: $color;
    @include hover(saturate(lighten($color, 15%), 8%), back);
    
    svg {
      width: 1.05em;
      height: 1.05em;
    }
  }
  &-twitter {
    $color: $twitter;
    background-color: $color;
   @include hover(saturate(lighten($color, 7%), 20%), back);
  }
  &-google {
    $color: $google;
    background-color: $color;
    @include hover(saturate(lighten($color, 9%), 10%), back);
  }
}


abbr[title] {
  border-bottom: none;
}

.vero-frame {
  display: block;
  height: 513em;
  margin: 2em auto;
  width: 90%;
  overflow: hidden;
  background-color: #fff;
  .nav {
    display: none;
  }
}

// Header
$header: 3.5em;
$header-res: 3em;
$title-size: 1.2em;
$title-size-res: 1.2em;

.header {
  z-index: 1;
  position: fixed;
  max-height: $header;
  height: 100%;
  width: 100%;
  @include box-shadow($acc3-1 0px 1px 2px);
  .container {
    height: 100%;
    position: static;
    .column {
      font-size: 95%;
      height: 100%;
    }
    #logo-title {
      float: left;
      height: 100%;
      margin: 0;
      font-size: $title-size;
      font-weight: 300;
    }
    #logo-img {
      float: left;
      height: 100%;
    }
    img {
      height: auto;
      max-height: 1.5em;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      border: 0;
    }
    .ie9 img {
      max-height: 100px;
    }
    a {
      margin: 0px;
      padding: 0px;
      line-height: $header;
      text-decoration: none;
    }
  }
}

nav {
  float: right;
  list-style-type: none;
  li {
    display: inline;
    padding: 0 1em 0 1em;
    margin: 0;
    a {
      font-weight: 300;
    }
  }
}

.top-nav {
  margin: 0;
  a {
    color: $white;
    &:hover, &:focus {
      border-bottom: 2px solid $white;
    }
  }
  .current-menu-item a,
  .current-page-ancestor a {
    border-bottom: 2px solid $white;
  }
}

#nav-res-toggle {
  display: none !important;
}

// Front page
$home-header: rgba(14,
61,
82,
0.52);
.home.page {
  .header {
    backface-visibility: hidden;
    background-color: $home-header;
    box-shadow: none;
    z-index: 200;
    nav li {}
  }
}

@import "modules/home";

@media screen and (max-width: $res) {
  .home.page .header .container .nav-header .top-nav {
    background-color: $home-header;
    top: 3.15em;
    border-top: 1px solid rgba(163, 163, 163, 0.66);
  }
}

@media screen and (max-width: $res) {
  .row.main.home {
    font-size: 90%;
    .secondn {}
    .thirdn {
      h2 {}
      .table {
        padding: 0;
        display: block;
        float: left;
        .column {
          width: 100%;
          float: left;
          display: block;
          padding: 0 1em;
        }
      }
      .two-thirds {
        .img {
          .img-wrap1 {
            img {
              position: relative;
              float: left;
            }
          }
          div {
            position: relative;
            float: left;
            width: 100%;
          }
          img {
            position: absolute;
            top: auto;
          }
        }
      }
      .third {
        ul {
          text-align: center;
          li {
            margin: 0 1em;
            width: 21%;
            text-align: left;
            display: inline-block;
            vertical-align: top;
          }
          li:first-child,
          li:last-child {
            margin: 0;
          }
        }
      }
    }
    .fourthn {
      .table {
        display: block;
        float: left;
        .column {
          display: block;
        }
        .third {
          text-align: center;
        }
        img {
          width: 60%;
          max-width: 18em;
        }
      }
    }
    .fifthn {}
  }
}

@media screen and (max-width: $res2) {
  .row.main.home {
    .secondn {
      .full {
        h2 {
          font-size: 115%;
        }
      }
    }
    .thirdn {
      h2 {
        font-size: 175%;
        margin-top: 0.2em;
        margin-bottom: 11%;
      }
      .third {
        ul {
          li {
            margin: 0 0.2em;
            width: 47%;
          }
          li:first-child,
          li:last-child {
            margin: 0 0.2em;
          }
        }
      }
    }
    .fifthn {
      .container {
        .row {
          .full {
            font-size: 95%;
            h2 {
              font-size: 190%;
              margin-bottom: 1em;
            }
            .buttons {
              font-size: 100%;
              button {
                width: auto;
                padding-left: 1em;
                padding-right: 1em;
              }
            }
          }
        }
      }
    }
  }
}

// Content
article {
  float: left;
  width: 100%;
  margin: 2em 0 0em;
}

.page-title {
  font-weight: 300;
  font-size: 2em;
  margin: 0;
  a:visited, a:active, a {
    color: $dark;
    text-decoration: none;
    border-bottom: none;
  }
  a:hover,
  a:focus {
    color: $dark;
  }
}

.post {
  &-body {
    margin: 2em 0 0;
  }
  &-header {
    @include link($link, $acc2-1);
  }
  &-title {
    font-weight: 300;
    margin: 0;
  }
  &-meta {
    margin: 1em 0 0;
    font-size: $small2;
  }
	&-excerpt {
  }
  &-time {
  }
  &-tags {
    float: right;
  }
  
  &-content {
    margin: 1em 0;
  }
	
  &-comments {
    header {
      position: relative;
      margin-bottom: -1.45em;
      h3 {
        margin-bottom: 0;
      }
    }
  }
  
  &-footer {
    margin: 1em 0;
  }
}

.page {
  margin-bottom: 1em;
  &-header {
    
  }
  &-title {
    margin-bottom: 0.1em;
  }
}

.main {
  padding: 7em 0 2em;
}

nav.pagination {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 1em 0;
  li, li:last-child {
    padding: 0 0.2em 0 0.2em;
  }
  li a {
    font-weight: 400;
  }
}

.sidebar {
  //background-color: $acc3-4;
  margin-top: 0.8em;
  font-size: $small2;
  font-weight: 300;
  line-height: 1.35em;
  color: $black;
  
  section {
    border: 1px solid $acc2-1;
    @include border-radius(1px);
    padding: 0.5em 0.5em 0.8em 1em;
    margin: 1em 0;
  }
  &-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  &-text {
    margin: 0.5em 0;
    color: $black;
  }
  .button {
    font-weight: 400;
  }
  
  &-social {
    font-weight: 400;

    svg {
      vertical-align: middle;
      width: 1em;
      height: 1em;
      margin-right: 0.6em;
      margin-bottom: 0.15em;
    }
    
    $hover: $acc2-1;
        
    .link {
      list-style: none;
      padding: 0;
      &-facebook {
        @include link($facebook, $hover);
        svg {
          height: 0.9em;
          width: 0.9em;
          margin-right: 0.7em;
        }
        path {
          fill: $facebook;
        }
      }
      &-twitter {
        @include link($twitter, $hover);
        path {
          fill: $twitter;
        }
      }
      &-github {
        @include link($github, $hover);
        path {
          fill: $github;
        }
      }
      &-rss {
        @include link($rss, $hover);
        path {
          fill: $rss;
        }
      }
    }
    a {
      &:hover, &:active, &:focus {
        path {
          fill: $hover;
        }
      }
    }
  }

  &-news {
    .news {
      &-form {
        margin-right: 0.5em;
      }
    }
  }
}

.donationwidget {
  form {
    font-size: 90%;
    text-align: center;
    position: relative;
    .amount {
      padding: 0.2em;
      width: 15%;
      max-width: 3em;
      min-width: 2.2em;
      margin: 0 5% 0 0;
      text-align: center;
    }
    .amount.error {
      border: 1px solid $red;
    }
    .radio {
      display: none;
    }
    label {
      cursor: pointer;
      background-color: $acc3-1;
      padding: 0.2em 0.4em;
      font-size: 95%;
      @include border-radius(2px);
      @include transition-duration($ani-duration);
    }
    .radio:checked + label {
      background-color: $acc3-2;
    }
    .options {
      margin: 1.5em 0 0;
      button {
        background-color: $acc3-1;
        width: 35%;
        max-width: 6.5em;
        height: 2.8em;
        padding: 0.4em 0.5em;
        margin: 0 0.2em;
        vertical-align: middle;
        position: relative;
        &:hover, &:focus {
          background-color: $link;
        }
      }
      button.loading {
        background-color: $link;
      }
      img {
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle;
      }
      .paypal {
        svg {
          width: 100%;
          height: 100%;
          padding: 3px 0 0;
        }
      }
      .stripe {
        .svg {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 47%;
          margin: auto;
          svg {
            width: 100%;
            height: 100%;
          }
        }
        .svg.hidden {
          display: none;
        }
        .card1 {
          bottom: 0.3em;
          left: auto;
          width: 89%;
        }
        .card2 {
          top: 0.3em;
          right: auto;
          width: 89%;
        }
      }
    }
    #amount-error {
      font-size: 90%;
      position: absolute;
      top: 1.6em;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: $trans;
    }
    .alternative p {
      margin-bottom: 0;
    }
  }
}

// Download
.downloadsplit {
  width: 100%;
  height: 1px;
  margin: 0 0 2em 0;
  border-bottom: 2px dotted $acc3-1;
  float: left;
  display: block;
}

.download.os {
  margin: 2em 0 3.5em;
  .third {
    .wrapper {
      svg {
        height: 5.5em;
      }
    }
  }
}

.veroline {
  font-size: 0.9em;
  text-align: center;
  color: $grey3;
}

.download {
  margin: 3em 0 3em;
  p {
    display: none;
  }
  .third,
  .fourth {
    text-align: center;
    color: $dark;
    a {}
    .wrapper {
      margin: 0 auto;
      width: 6em;
      cursor: pointer;
      position: relative;
      display: inline-block;
      svg {
        width: 5em;
        height: 7em;
        path {
          fill: $dark;
        }
      }
      .pi {
        .structure {
          fill: $dark;
        }
        .ins,
        .leaf {
          fill: $white;
        }
      }
      img,
      h3,
      path {
        @include transition-duration($ani-duration);
      }
      h3 {
        margin: 0.8em 0 0;
        font-size: 110%;
        float: left;
        width: 100%;
        text-align: center;
      }
      .info,
      .info2 {
        float: left;
        width: 100%;
        text-align: center;
        display: block;
        font-size: 88%;
      }
      .info {
        color: $grey3;
        margin: 0.4em 0 0 0;
      }
      .info2 {
        font-size: 88%;
        color: $acc3-2;
        margin: 0;
      }
      &:hover,
      &:focus {
        svg {
          path {
            fill: $link;
          }
        }
        .pi {
          .ins, .leaf {
            fill: $link;
          }
        }
        img {
          opacity: 0.7;
        }
        h3 {
          color: $link;
        }
      }
    }
  }
}

.disktables {
  margin: 1em 0 0;
  .row {
    float: left;
  }
  .table {
    float: left;
    margin: 1em 0;
    h3 {
      margin: 0 0 0.5em;
      display: inline-block;
      border-bottom: 2px solid $acc3-1;
    }
    table {
      width: auto;
      th, td {
        padding: 0.4em 0.7em;
        padding-left: 0;
      }
    }
    &:nth-child(odd) {
      padding: 0 3em 0 0;
    }
  }
}

// Wiki
$border: 1px dotted $acc3-1;

.wiki-page {
  section {
    .desc {
      font-size: 100%;
    }
  }
  &.w-cat, &.w-subcat {
    section {
      ul {
        padding: 0;
        padding-top: 1em;
        list-style: none;
        a {
          li {
            padding: 1.2em 0.8em;
            margin: 0;
            border-top: $border;
            @include transition-duration($ani-duration);
          }
          &:last-child li {
            border-bottom: $border;
          }
          &:hover {
            li {
              h3 {
                color: $blue-s3;
              }
              p {
                color: $grey3;
              }
            }
          }
        }

        h3 {
          color: $blue-s3;
          margin: 0;
          font-weight: 300;
          @include transition-duration($ani-duration);
        }
        p {
          color: $grey3;
          font-size: 90%;
          margin: 0;
          margin-top: 0.5em;
        }
      }
    }
    h3 {
    font-weight: 300;
    }
  }
  &.w-cat {
    section {
      ul {
        li {
          padding-top: 1.5em;
          padding-bottom: 1.5em;
          
          h3 {
            font-size: 140%;
          }
        }
      }
    }
  }
  &.w-subcat {
    
  }
  &.w-post {
    span {
      color: $acc3-2;
    }
  }
}

// Footer
.main-footer {
  text-align: center;
  font-weight: 300;
  .row {
    padding: 0;
  }
  .container {
    position: relative;
  }
  .contentcontainer {
    background-color: $dark;
    padding: 1.5em 0;
  }
  .column {
    font-size: 90%;
  }
  .widgettitle {
    color: $white;
    font-weight: 400;
    font-size: 110%;
  }
  p {
    color: $white;
  }
  a,
  a:visited,
  a:active {
    color: #fff;
    &:hover, &:focus {
      border-bottom: 2px solid $white;
      color: #fff;
    }
  }
  .current-menu-item a,
  .current-page-ancestor a {
    border-bottom: 1px solid $white;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0.2em 0;
      color: $white;
    }
  }
  .footerinfo {
    color: $acc3-1;
    font-weight: 300;
    font-size: 0.8em;
    margin: 2em 0 0;
    a:hover, a:focus {
      text-decoration: underline;
      border-bottom: none;
    }
    p,
    a,
    a:visited,
    a:active {
      margin: 0;
      font-weight: 300;
      color: $acc3-1;
    }
    img {
      margin: 0 0 1em;
      display: inline-block;
      width: 10em;
    }
    .corporate {
      position: absolute;
      left: 1.5em;
      bottom: 1.5em;
      text-align: left;
    }
    .status {
      position: absolute;
      right: 1.5em;
      bottom: 1.5em;
    }
  }
}

// Donation popup
.overlay.show {
  display: block;
}

.overlay.fade {
  opacity: 1;
}

.overlay {
  opacity: 0;
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  @include transition-duration(0.2s);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.60);
}

.popup_donate.show {
  display: block;
}

.popup_donate.fade {
  opacity: 1;
}

.popup_donate {
  opacity: 0;
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 28em;
  max-height: 25em;
  @include transition-duration(0.2s);
  h3 {
    margin: 0;
  }
  .donationwidget {
    padding: 1em 1em 3em;
    margin: 1em;
    background-color: $white;
    @include border-radius(2px);
    form {
      #amount-error {
        top: 1.7em;
      }
    }
  }
}

// Animations
@-webkit-keyframes display-none-transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.animated.hinge {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
}

@-moz-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
}

@-o-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -o-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -o-transform: translateX(20px);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  -moz-animation-name: fadeOutRight;
  -o-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

// ie
.ie9 #inner-header {
  background-color: #fff;
}

.ie9 #inner-header #inner-header-content img {
  max-height: 40px;
}

.ie9 a {
  text-decoration: none;
  border-bottom: none;
}

// res
@media screen and (max-width: $res) {
  .row.main {
    padding: 5em 0 0;
    margin: 0 auto;
  }
  .header {
    height: $header-res;
    .container {
      a {
        line-height: $header-res;
      }
      img {
        max-height: 1.4em;
      }
      #logo-title {
        font-size: $title-size-res;
        a {
          line-height: ($header-res / $title-size-res);
        }
      }
      .nav-header {
        position: absolute;
        right: 0;
        top: 0;
        height: auto;
        width: auto;
      }
      #nav-res-toggle {
        position: absolute;
        top: 0;
        right: 0;
        display: block !important;
        float: right;
        height: 100%;
        padding: 0 1em;
        cursor: pointer;
        cursor: hand;
        -webkit-user-select: none;
        
        -moz-user-select: none;
        /* Firefox all */
        
        -ms-user-select: none;
        /* IE 10+ */
        
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        /* No support for these yet, use at own risk */
        
        -o-user-select: none;
        user-select: none;
        p {
          color: $white;
          font-size: 105%;
          line-height: 1em;
          font-weight: 400;
          @include transition-duration(0.5s);
          @include transition-timing-function(ease);
        }
        p:after {
          display: block;
          left: 0;
          bottom: 0;
          margin-top: 2px;
          width: 0;
          height: 2px;
          background-color: $white;
          content: "";
          @include transition-duration(0.5s);
          @include transition-timing-function(ease);
        }
      }
      #nav-res-toggle.open {
        p {
          color: $link;
        }
        p:after {
          background-color: $link;
          width: 100%;
        }
      }
      .top-nav {
        position: absolute;
        background-color: $dark;
        font-size: 1em;
        padding: 1em 2em 0;
        height: 1000em;
        width: auto;
        right: -9em;
        top: 3.1em;
        @include transition-duration(0.5s);
        @include transition-timing-function(ease);
        a {
          color: $white;
        }
        li {
          float: right;
          clear: right;
          width: 100%;
          height: 2.5em;
          padding: 0;
          margin: 0;
          white-space: nowrap;
        }
      }
      .top-nav.open {
        right: 0;
      }
    }
  }
  .row.main.home {
    .firstn-back {
      .vignette-wrap {
        @include box-shadow(inset 0 0 200px rgba(0, 0, 0, 0.75));
      }
    }
  }
  .download {
    text-align: center;
    .column {
      width: 25%;
      float: left;
      .wrapper {
        width: 100%;
        padding: 0 0.8em;
        svg {
          width: 4.5em;
        }
        h3 {
          font-size: 90%;
        }
      }
    }
    .fourth {
      width: 25%;
    }
    .third {
      width: 32%;
      display: inline-block;
      float: none;
      svg {
        max-width: 4em;
        width: 100%;
      }
    }
  }
  .contactform {
    input {
      width: 40%;
    }
    textarea {
      width: 90%;
    }
  }
}

@media screen and (max-width: $res2) {
  .download.os {
    margin: 1em 0 3.5em;
  }
  .download {
    margin: 0;
    .fourth {
      width: 50%;
      float: left;
      .wrapper {
        width: 100%;
        padding: 0 0.8em;
        margin: 1em 0;
        svg {
          height: 5em;
          width: 4em;
        }
        h3 {
          font-size: 90%;
        }
      }
    }
  }
  .disktables {
    .table {
      &:nth-child(odd) {
        padding: 0;
      }
    }
  }
}