@include link;

html,
body,
button,
input,
select,
textarea {
  font-family: $font;
  font-weight: 400;
  font-size: 100%;
}

button, select, textarea, input, a, img {
	&:focus {
		outline: 0;
	}
}

* {
  -webkit-font-smoothing: subpixel-antialiased;
}

// MAIN //
html,
body {
  width: 100%;
  line-height: $line-h;
}

body {
  background-color: $back;
  color: $dark;
  margin: 0;
  overflow-y: scroll;
  //@include scrollbars(0.8em, $acc3-1, $back);
}

input {
  border: 0px;
  font-size: $small2;
  vertical-align: middle;
  margin-left: 0.2em;
  
  @include input-placeholder {
    color: $acc3-2;
  }
}

.input-icon {
  padding: 0 0.2em 0.2em;
  @include border-radius(1px);
  overflow: hidden;
  border: 1px solid $acc3-1;
  margin: 1em 0 0.3em;
  
  &-wrap {
    display: inline;
    overflow: hidden;
    position: relative;
  }
    
  svg {
    width: 1.4em;
    height: 1.4em;
    vertical-align: middle;
    display: block;
    
    path {
      fill: $black;
    }
  }
  
  img {
    max-width: 1.45em;
    width: 1.45em;
    margin-top: -1px;
    margin-left: -1px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
  }
  
  .mail-spinner {
    display: block;
    position: absolute;
    top: 4px;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0;
    margin: auto;
    height: 1.3em;
    width: 1.3em;
    @include animated;
  }
  
  .mail, .spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    @include animated;
  }
  
  .check {
    background-color: $trans;
    padding: 0;
    margin-top: 1px;
    font-size: 100%;
    position: absolute;
    top: 4px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    @include animated;
    visibility: hidden;
    height: 1.3em;
    width: 1.3em;
    @include transition-duration($ani-duration);
    @include border-radius(2px);

    svg {
      path {
        @include transition-duration($ani-duration);
        fill: $acc2-1;
        stroke: $acc2-1;
        stroke-width: 1px;
      }
    }
    
    &:hover, &:active, &:focus {
      svg {
        path {
          fill: $black;
          stroke: $black;
        }
      }
    }
  }
  
  .spinner {
    visibility: hidden;
    @extend .slideOutDown;
  }
  
  input {
    margin-left: 1.8em;
    margin-top: 0.05em;
    width: calc(100% - 1.7em);
  }
  
  &.focus {
    .mail {
      @extend .slideOutDown;
    }
    .check {
      @extend .slideInDown;
      visibility: visible;
    }
    .spinner {
      visibility: visible;
    }
  }
  &.unfocus {
    .mail {
      @extend .slideInDown;
    }
    .check {
      @extend .slideOutDown;
      visibility: visible;
    }
  }
  &.focus.posting {
    .check {
      @extend .slideOutDown;
    }
    .spinner {
      visibility: visible;
      @extend .slideInDown;
    }
    .mail {
      visibility: hidden;
    }
  }
  &.error {
    .check {
      svg {
        path {
          fill: $red;
          stroke: $red;
        }
      }
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  @include transition-duration($ani-duration);
  @include transition-timing-function(ease);
}

ul, ol {
  padding-left: 1.3em;
  margin: 0;
}

li {
  margin: 0.20em 0;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid $acc1-2;
  margin: 1.5em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 1.2em 0 0.5em;
  line-height: 1.4em;
}

p {
  margin: 0.8em 0;
}

blockquote {
  background-color: $acc3-4;
  margin: 0;
  padding: 0.1em 0.5em 0.1em 1em;
}

button, .button {
  @include button;

  &-alt1 {		
    @include button-alt1;
  }
  &-alt2 {
    @include button-alt2;
  }
}

pre {
  background-color: $acc1-2;
  line-height: 1.3em;
  @include box-shadow($white 0 0 8px);
  
  padding: 1em;
  white-space: pre-wrap;
  max-height: 400px;
  overflow: auto;
  @include scrollbars(0.35em, $acc1-5, $acc1-3);
    
  code {
    font-size: $small3;
    display: block;
    color: $black;
    background-color: $trans;
  }
}

code {
  font-size: $small3;
  font-family: $font-code;
  color: $acc1-1;
  background-color: $acc3-4;
  padding: 0 0.2em 0.1em;
  @include border-radius(1px);
  vertical-align: top;
}

.break {
  display: block;
  width: 100%;
  padding: 0.19em 0;
  background-color: $back;
  
  $dot: $back;
  $dot2: $acc1-1;
  
  $gradient: 135deg, $dot2, $dot 1px, transparent 1px, transparent 3px, $dot 3px;
  $size: 4px 4px;
  
  background-image: -webkit-repeating-linear-gradient($gradient);
  background-image: -moz-repeating-linear-gradient($gradient);
  background-image: -o-repeating-linear-gradient($gradient);
  background-image: repeating-linear-gradient($gradient);
  -webkit-background-size: $size;
  -moz-background-size: $size;
  background-size: $size;
}

table {
  width: 100%;
  th {
    padding: 0.5em;
    text-align: left;
  }
  td {
    padding: 0.5em;
  }
}