@mixin ie10 {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  &::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  &::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  scrollbar-face-color: $foreground-color;
  scrollbar-track-color: $background-color;
}


$link: $acc1-1;
$link-hover: $acc1-4;
$link-bottom: rgba(0, 0, 0, 0.08);
$link-bottom-hover: adjust-hue( lighten( $link, 30% ), 22% );


@mixin link ($color: null, $color-hover: null) {
  
  $border-bottom: null;
  $border-bottom-hover: null;
    
  @if $color {
    $border-bottom: 0px;
    $border-bottom-hover: 0px;
  } @else {
    $color: $link;
    $color-hover: $link-hover;
    $border-bottom: 2px solid $link-bottom;
    $border-bottom-hover: 2px solid $link-bottom-hover;
  }
  
  a {
    color: $color;
    text-decoration: none;
    border-bottom: $border-bottom;
    @include transition-duration($ani-duration);
    @include transition-timing-function(ease);
    
    &:visited {
      color: $color;
      border-bottom: $border-bottom;
    }
    &:hover, &:active, &:focus {
      color: $color-hover;
      border-bottom: $border-bottom-hover;
      
      img {
        opacity: 0.6;
      }
      
    }
  }
  
}

@mixin hover ($color, $setting: null) {
  
  @if $setting == "back" {
    $setting: "background-color";
  } @else {
    $setting: "color";
  }
  
  &:hover {
    #{$setting}: $color;
  }
  &:active {
    #{$setting}: $color;
  }
  &:focus {
    #{$setting}: $color;
	}
}

@mixin button ($back: null, $hover: null, $height: null, $homepage: null) {
	
  @if $back {
  } @else {
      $back: $acc1-5;
  }
  @if $hover {
  } @else {
      $hover: $acc1-4;
  }
  @if $height {
  } @else {
     $height: 0.1em;
  }
  
  @if $homepage {
    background-color: $back;
    color: $white;
    @include transition-duration($ani-duration);
  } @else {
    display: inline-block;
    font-size: $small2;
    border: 0;
    @include border-radius(1px);
    color: $white;
    background-color: $back;
    padding: $height 0.7em;
    margin: 0.3em 0.3em 0.3em 0;
    cursor: pointer;
    @include transition-duration($ani-duration);
  }
	
	&:visited {
		color: $white;
	}
  
  // color hover
  @include hover($white);

  // background hover
  @include hover($hover, back);
}

@mixin button-alt1 {
	@include button;
	background-color: $acc2-1;
	@include hover($acc2-3, back);
}