table.cart {
  margin-bottom: 1em;
  
  .product-remove {
    $w: 0.5em;
    min-width: $w;
    width: $w;
    font-size: 1.5em;
    //padding-right: 0;
    text-align: center;
    
    .remove {
      width: auto;
      min-width: auto;
      color: $acc5-1;
      text-indent: 0;
      padding-right: 0.5em;
      @include ani1;
      
      &:hover {
        color: $dark;
      }
      
      &:before {
        content: "";
      }
    }
  }
  
  dl.variation {
    line-height: 1.4em;
    margin: 0;

    dt, dd {
      display: inline-block;
    }

    dt {
      font-weight: 600;
    }
    p {
      margin: 0;
    }
  }

  td.actions {
    
    text-align: right;
    
    .coupon {
      display: inline-block;
      float: left;
      border-bottom: 0px;
      padding: 0;
      margin: 0;
      
      @include res2 {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
      }
    }
    
    input {
      @include res2 {
        max-width: 8em;
      }
    }

    .button[name="update_cart"] {
      vertical-align: text-top;
      
      @include res2 {
        margin: 0 auto;
        display: block;
      }
    }

    .button[name="apply_coupon"] {
      margin-left: 1em;
    }

    input {
      @include res-wc {
        display: inline-block;
        width: auto;
      }
    }
  }

  .variations_button {
    padding-bottom: 0 !important;
  }
  .checkout_coupon {
    .form-row.form-row-first {
      width: auto;
      margin-right: 0 !important;
    }
    .form-row-last {
      float: left;
    }
  }
}

.cart-collaterals .cart_totals {
  width: 70%;
  max-width: 100%;
  float: right;
  
  @include res1 {
    width: 100%;
    float: left;
  }

  th, td {
    margin: 0;
    padding: 0;
    padding-right: 1em;
  }

  td {
    border-bottom: 0px;
  }
}

.wc-proceed-to-checkout {
  margin: 1em 0;

  .button {
    font-size: 1em !important;
    @extend .button;
    padding: 0.25em 1em;
  }
}
