.site-main ul.products {
  //text-align: center;
  padding: 0;

  li.product {
    position: relative;
    width: 25%;
    margin: 0;
    margin-left: -4px;
    padding: 1.5%;
    float: none;
    display: inline-block;
    text-align: left;
    vertical-align: top;


    @include res1 {
      font-size: 90%;
      //padding: 0.5em;
    }

    @include res2 {
      font-size: 80%;
      //padding: 0.5em;
    }


    img {
      margin: 0;
    }

    h3 {
      margin: 0.5em 0 0;
      font-size: 1.2em;

      @include res1 {
        font-size: 1.1em;
      }
      @include res2 {
        font-size: 1em;
      }
    }

    .price {
      font-size: 1.1em;

      @include res1 {
        font-size: 1em;
      }
      @include res2 {
        font-size: 0.9em;
      }

      ins {
        margin: 0;
      }
      del {
        margin-right: 0.5em;
      }
    }

    .button {
      display: none;
    }

    .star-rating {
      display: none;
    }
  }
}

&.single-product {

  #content {
    margin-top: 2em;

    @include res-wc {
      padding-top: 2em;
    }

  }

  .onsale {
    position: absolute;
    top: 0;
    left: 0;
  }
  div[itemprop="description"] {
    margin-bottom: 2em;
  }
  .price {
    font-weight: 400 !important;

    del {
      margin-right: 0.5em;
    }
  }

  .panel.entry-content.wc-tab {
    h2 {
      margin-top: 0.5em;
    }
  }

  .images .thumbnails {
    float: left;
    width: 100%;
  }
}

#payment .place-order .button {
  font-size: 1em;
}

dl.variation {
  line-height: 1.4em;
  margin: 0;

  dt {
    font-weight: 600;
  }
  p {
    margin: 0;
  }
}

#review_form {
  .stars {
    .active {
      &:before {
        content: "\e020";
      }
    }
  }
  .comment-form-comment {
    label {
      display: block;
    }
  }
  input[type="submit"] {
    background-color: $blue1;
    border-color: $blue1;
  }
}

.star-rating span {
  &:before {
    color: $blue1;
  }
}

.lost_reset_password {
  .form-row-first, .form-row {
    float: left;
    width: 100%;
    margin: 0.5em 0;
  }
}