<section class="sidebar-store-buy">
  <header class="sidebar-header">
    <h3 class="sidebar-title">Buy</h3>
  </header>
  <p class="sidebar-text">
    {{#each store.product.images}}
      <img src="{{src}}">
    {{/each}}
  </p>
</section>