<section class="store-cart sidebar-cart">
  <header class="sidebar-header">
    <h3 class="sidebar-title"><a href="https://store.osmc.tv/cart">Cart</a></h3>
  </header>
  <div class="store-cart-frame">
    {{{store-cart}}}
  </div>
  <p class="store-cart-go">
    <a href="store.osmc.tv/cart">Go to cart</a>
  </p>
</section>