<section class="store-cart sidebar-cart">
  <header class="sidebar-header">
    <h3 class="sidebar-title"><a href="https://my.osmc.tv/cart">Shopping Bag</a></h3>
  </header>
  <div class="store-cart-frame">
    {{{store-cart}}}
  </div>
  <p class="store-cart-go">
    <a href="https://my.osmc.tv/checkout">Checkout <span>⇾</span></a>
  </p>
  <p class="store-cart-go">
    <a href="https://my.osmc.tv/cart">Go to bag <span>⇾</span></a>
  </p>
</section>
